<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	
	<!--  db 목록 보기. -->
	<select id="adminMapper.selectDBTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTCONNECTION 
		where DEL_YN = 'N'
		and (VNAME like '%'||#{keyword}||'%' or VURL like '%'||#{keyword}||'%') 
	</select>
	
	<select id="adminMapper.selectDbList" parameterType="searchParameter" resultType="hashmap">
		select 
			VCONNID
			, VNAME
		from VTCONNECTION 
		where DEL_YN = 'N'
		AND (VNAME like '%'||#{keyword}||'%' or VURL like '%'||#{keyword}||'%') 
		order by VCONNID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- db connection 정보 상세보기. -->	
	<select id="adminMapper.selectDetailObject" parameterType="map" resultType="dataCommonVO">
		select 
			VCONNID
			, VNAME
			, VDBSCHEMA
			, VURL
			, VDRIVER
			, '' as VPW
			, '' as CONFIRM_PW
			, VSERVERIP
			, VPORT
			, URL_DIRECT_YN
			, VDATABASENAME
			, USE_YN
			, VTYPE
			, VQUERY
			, SCHEMA_VIEW_YN
			, VID
			, MAX_ACTIVE
			, MIN_IDLE
			, TIMEOUT
			, EXPORTCOUNT
			, VCONNOPT
			, VPOOLOPT
			, VDBVERSION 
			, BASETABLE_YN
			, LAZYLOAD_YN
		from VTCONNECTION 
		where DEL_YN = 'N'
		AND VCONNID =#{vconnid}
	</select>
	
	<!-- max connection id -->
	<select id="adminMapper.selectVtconnectionMaxVal" resultType="java.lang.String">
		select max(VCONNID)as maxval from VTCONNECTION
	</select>
	
	<!--  insert connection info -->
	<insert id="adminMapper.insertVtconnectionInfo" parameterType="vtConnection">
		insert into VTCONNECTION (
			VCONNID
			,VNAME 
			,VURL
			,VSERVERIP
			<if test="@com.varsql.app.util.VarQueryUtil@isNumber(vport)">
			,VPORT
			</if>
			,VDATABASENAME 
			,URL_DIRECT_YN
			,VDBSCHEMA 
			,VDRIVER 
			,VTYPE 
			,VID 
			,VPW
			,USE_YN
			,BASETABLE_YN
			,LAZYLOAD_YN
			,SCHEMA_VIEW_YN
			,REG_ID
			,REG_DT
			,UPD_ID
			,UPD_DT
		)values (
			#{vconnid}
			,#{vname}
			,#{vurl}
			,#{vserverip}
			<if test="@com.varsql.app.util.VarQueryUtil@isNumber(vport)">
			,#{vport}
			</if>
			,#{vdatabasename} 
			,#{urlDirectYn} 
			,#{vdbschema} 
			,#{vdriver} 
			,#{vtype}
			,#{vid}
			,#{vpw}
			,#{useYn}
			,#{basetableYn}
			,#{lazyloadYn}
			,#{schemaViewYn}
			,#{userId}
			,CURRENT_TIMESTAMP
			,#{userId}
			,CURRENT_TIMESTAMP
		)
	</insert>
	
	<!--connection 업데이트. -->
	<update id="adminMapper.updateVtconnectionInfo" parameterType="vtConnection">
		update VTCONNECTION 
		set 
			VNAME =#{vname}
			,URL_DIRECT_YN = #{urlDirectYn} 
			<choose>
				<when test='"Y".equals(urlDirectYn)'>
					,VURL =#{vurl}
				</when>
		    	<otherwise>
		    		<choose>
						<when test='@com.varsql.app.util.VarQueryUtil@isNumber(vport)'>
							,VPORT = #{vport}
						</when>
				    	<otherwise>
							,VPORT = null
				    	</otherwise>
				  	</choose>
					,VSERVERIP = #{vserverip} 
					,VDATABASENAME =#{vdatabasename} 
		    	</otherwise>
		  	</choose>
			, VDBSCHEMA =#{vdbschema}
			, VDRIVER =#{vdriver} 
			, VTYPE =#{vtype}
			, VID =#{vid}
			<if  test='null != vpw and !"".equals(vpw)'>
				, VPW =#{vpw}
			</if>
			, USE_YN = #{useYn}
			, BASETABLE_YN = #{basetableYn}
			, LAZYLOAD_YN = #{lazyloadYn}
			, SCHEMA_VIEW_YN = #{schemaViewYn}
			, UPD_ID = #{userId}
			, UPD_DT =CURRENT_TIMESTAMP 
		where VCONNID =#{vconnid}
	</update>
	
	<!--connection 옵션정보 업데이트. -->
	<update id="adminMapper.updateVtconnectionOptionInfo" parameterType="vtconnectionOption">
		update VTCONNECTION
 		set 
 			VQUERY = #{vquery}
 			, MAX_ACTIVE = #{maxActive}
 			, MIN_IDLE = #{minIdle}
 			, TIMEOUT = #{timeout}
 			, EXPORTCOUNT = #{exportcount}
			, UPD_ID = #{userId}
			, UPD_DT =CURRENT_TIMESTAMP 
		where VCONNID =#{vconnid}
	</update>
	
	<!-- connection 삭제 -->
	<delete id="adminMapper.deleteVtconnectionInfo" parameterType="map">
		update VTCONNECTION
 		set 
 			USE_YN = 'N'
 			,DEL_YN = 'Y'
 			,VPW ='empty'
		where VCONNID =#{vconnid}
	</delete>
	
	<!-- user role을 가진 목록 보기. -->
	<select id="adminMapper.selectRoleUserTotalcnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where USER_ROLE = 'USER' 
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%') 
	</select>
	
	<!-- 'USER' role 사용자  목록. -->
	<select id="adminMapper.selectRoleUserList" parameterType="searchParameter" resultType="hashmap">
		select a.*, a.REG_DT as CHAR_CRE_DT
		from VTUSER a
		where USER_ROLE = 'USER' 
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%') 
		order by VIEWID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- manager role을 가진 목록 보기. -->
	<select id="adminMapper.selectRoleManagerTotalcnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where USER_ROLE = 'MANAGER' 
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%') 
	</select>
	
	<!-- 'MANAGER' role 사용자  목록. -->
	<select id="adminMapper.selectRoleManagerList" parameterType="searchParameter" resultType="hashmap">
		select a.*, a.REG_DT as CHAR_CRE_DT
		from VTUSER a
		where USER_ROLE = 'MANAGER' 
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%') 
		order by VIEWID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- 사용자 -> 매니저로  role 업데이트 -->
	<update id="adminMapper.updateManagerRole" parameterType="map">
		update VTUSER 
		set 
		<choose>
			<when test="mode=='add'">
				USER_ROLE = 'MANAGER'
			</when>
	    	<otherwise>
	      		USER_ROLE = 'USER'
	    	</otherwise>
	  	</choose>
		where VIEWID =#{viewid}
	</update>
	
	<!-- 매니저 권한이 있는 사용자의 db 목록 삭제.   -->
	<delete id="adminMapper.deleteManagerAuthDb" parameterType="map">
		delete from VTDATABASE_MANAGER
		where VIEWID =#{viewid}
	</delete>
	
	<!-- 매니저 목록 보기 -->
	<select id="adminMapper.selectDatabaseManager" parameterType="map" resultType="hashmap">
		select * 
		from VTUSER a left outer join VTDATABASE_MANAGER b 
		on a.VIEWID = b.VIEWID 
		and b.VCONNID = #{vconnid}
		where USER_ROLE = 'MANAGER' and (b.VCONNID = #{vconnid} or b.VCONNID is null ) 
	</select>
	
	<!-- db manager 삭제. -->
	<delete id="adminMapper.deleteDbManager" parameterType="map">
		delete from VTDATABASE_MANAGER
		where VCONNID = #{vconnid}
		<foreach item="item" index="index" collection="viewidArr" open="and VIEWID in (" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- db 매니저 등록. -->
	<update id="adminMapper.updateDbManager" parameterType="map">
		insert into VTDATABASE_MANAGER (VCONNID, VIEWID , REG_ID, REG_DT)
		values(
			#{vconnid}
			, #{viewid}
			, #{uid}
			,CURRENT_TIMESTAMP
		)
	</update>
	
	<!-- database type list -->
	<select id="adminMapper.selectAllDbType" parameterType="map" resultType="hashmap">
		select * from VTDBTYPE
	</select>
	
	<!-- todo -->
	<select id="adminMapper.listDbMenuTotalcnt" parameterType="map" resultType="int">
		select count(1) as totalcnt 
		from VTMENU
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchVal}||'%' or UNIQUE_ID like '%'||#{searchVal}||'%') 
	</select>
	
	<!-- todo -->
	<select id="adminMapper.listDbMenu" parameterType="map" resultType="hashmap">
		select a.*
		from VTMENU a
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchVal}||'%' or UNIQUE_ID like '%'||#{searchVal}||'%') 
	</select>
	
	<!-- todo -->
	<insert id="adminMapper.addDbMenu" parameterType="map">
		insert  into VTMENU (
			DB_TYPE 
			, MENU_ID 
			, P_MENU_ID 
			, UNIQUE_ID 
			, MENU_NM 
			, MENU_URL 
			, MENU_PARAM 
			, POPUP_YN 
			, VIEW_OPTION 
			, SORT_ORDER 
			, DEPTH
			, USE_YN
		)values(
			#{db_type}
			,#{menu_id}
			,#{p_menu_id}
			,#{unique_id}
			,#{menu_nm}
			,#{menu_url}
			,#{menu_param}
			,#{popup_yn}
			,#{view_option}
			,#{sort_order}
			,#{depth}
			,#{use_yn}
		)
	</insert>
	
	<!-- todo -->
	<update id="adminMapper.moodifyDbMenu" parameterType="map">
		update VTMENU 
		set 
			DB_TYPE=#{db_type}
			,UNIQUE_ID=#{unique_id}
			,MENU_NM=#{menu_nm}
			,MENU_URL=#{menu_url}
			,MENU_PARAM=#{menu_param}
			,POPUP_YN=#{popup_yn}
			,VIEW_OPTION=#{view_option}
			,SORT_ORDER=#{sort_order}
			,DEPTH=#{depth}
			,USE_YN=#{use_yn}
		where MENU_ID =#{menu_id}
	</update>
	
	<!-- todo -->
	<delete id="adminMapper.deleteDbMenu" parameterType="map">
		delete from VTMENU where MENU_ID =#{menu_id}
	</delete>
	
	<!-- db driver list -->
	<select id="adminMapper.selectDbDriverList" parameterType="map" resultType="hashmap">
		SELECT DRIVER_ID,DBTYPE,DBDRIVER,DRIVER_DESC
		FROM VTDBTYPE_DRIVER
		WHERE DBTYPE = #{db_type}
	</select>
	
	<!-- db driver info -->
	<select id="adminMapper.selectDbDriverInfo" parameterType="vtConnection" resultType="dataCommonVO">
		SELECT *
		FROM VTDBTYPE_DRIVER
		WHERE DRIVER_ID = #{vdriver}
	</select>
	
	<!-- password check 를위해 password get -->
	<select id="adminMapper.selectDbInfo" parameterType="vtConnection" resultType="dataCommonVO">
		SELECT a.VPW , a.VQUERY, b.*
		FROM VTCONNECTION a, (
			select  CAST(#{vconnid} AS VARCHAR) as VCONNID, subb.* 
			from VTDBTYPE_DRIVER subb
			WHERE DRIVER_ID = #{vdriver}
		) b
		WHERE a.VCONNID = b.VCONNID
		and a.VCONNID = #{vconnid}
	</select>
	
	<!-- error log count -->
	<select id="adminMapper.selectErrorTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTSQL_EXCEPTIONLOG 
		where 1=1
		and 
		<choose>
			<when test="category=='0'">
				SERVER_ID like '%'||#{keyword}||'%'
			</when>
			<when test="category=='1'">
				EXCP_TYPE like '%'||#{keyword}||'%'
			</when>
			<when test="category=='2'">
				EXCP_TYPE like '%'||#{keyword}||'%'
			</when>
	    	<otherwise>
	      		EXCP_TITLE like '%'||#{keyword}||'%'
	    	</otherwise>
	  	</choose>
	</select>
	
	<!-- error log -->
	<select id="adminMapper.selectErrorList" parameterType="searchParameter" resultType="hashmap">
		select 
			EXCP_ID,SERVER_ID,EXCP_TYPE,EXCP_TITLE, EXCP_CONT,REG_ID, to_char(REG_DT,'YYYY-MM-DD HH24:MI:SS') as REG_DT  
		from VTSQL_EXCEPTIONLOG
		where 1=1
		and 
		<choose>
			<when test="category=='0'">
				SERVER_ID like '%'||#{keyword}||'%'
			</when>
			<when test="category=='1'">
				EXCP_TYPE like '%'||#{keyword}||'%'
			</when>
			<when test="category=='2'">
				EXCP_TYPE like '%'||#{keyword}||'%'
			</when>
	    	<otherwise>
	      		EXCP_TITLE like '%'||#{keyword}||'%'
	    	</otherwise>
	  	</choose>
		order by REG_DT desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
</mapper>
