<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonMapper">
	
	
	<!-- db connection 정보 상세보기. -->	
	<select id="commonMapper.selectDetailObject" parameterType="map" resultType="vtconnectionRVO">
		select 
			VCONNID
			, VNAME
			, VDBSCHEMA
			, VURL
			, VDRIVER
			, USE_YN
			, VTYPE
			, VQUERY
			, VID
			, MAX_ACTIVE
			, MAX_SELECT_COUNT
			, MIN_IDLE
			, TIMEOUT
			, EXPORTCOUNT
			, VCONNOPT
			, VPOOLOPT
			, VDBVERSION 
			, BASETABLE_YN
			, LAZYLOAD_YN
		from VTCONNECTION 
		where DEL_YN = 'N'
		AND VCONNID =#{vconnid}
	</select>
		
	<!-- exception 정보 등록. -->
	<insert id="commonMapper.insertExceptionLog" parameterType="exceptionLogVO">
		insert into VTSQL_EXCEPTIONLOG (EXCP_ID,SERVER_ID,EXCP_TYPE,EXCP_TITLE,EXCP_CONT,REG_ID,REG_DT )
		values( #{exceotionId},#{serverId},#{exceptionType},#{exceptionTitle},#{exceptionCont},#{regId},CURRENT_TIMESTAMP )  
	</insert>
	
	<!-- 사용자 검색  -->
	<select id="commonMapper.selectUserListTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		<include refid="userSearchCriteria"></include>
	</select>
	
	<!-- 사용자 검색  -->
	<select id="commonMapper.selectUserList" parameterType="searchParameter" resultType="map">
		select 
			VIEWID
			,UNAME
			,UID
		<include refid="userSearchCriteria"></include>
		order by VIEWID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- 매니저 체크.  -->
	<select id="commonMapper.selectManagerCheck" parameterType="map" resultType="int">
		select 
			count(1)
		from VTUSER 
		where USER_ROLE = 'MANAGER'
		and VIEWID =#{dp_viewId}
		and BLOCK_YN = 'N'
	</select>
	
	<!-- 사용자 검색 공통 sql 부분.  -->
	<sql id="userSearchCriteria">
		from VTUSER a
		where 1=1
		and USER_ROLE not in ('ADMIN')
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%')
	</sql>
	
</mapper>
