<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="databaseMapper">
	
	<!-- database connection log -->
	<insert id="databaseMapper.insertDbConnectionHistory" parameterType="map">
		insert into VTDATABASE_CONN_HIST (VCONNID,VIEWID,CONN_TIME,REQ_URL )
		values( #{vconnid},#{viewid},current_timestamp,#{reqUrl} );  
	</insert>
</mapper>
