<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manageDbGroupMapper">
	
	<!-- DB 그룹 검색 카운트 -->
	<select id="manageDbGroupMapper.selectDbGroupTotalcnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTDATABASE_GROUP 
		where 1=1
		<if test="@com.varsql.app.util.MybatisUtil@isNotAdmin()">
			and REG_ID =#{userId}	
		</if>
		and (GROUP_NAME like '%'||#{keyword}||'%' or GROUP_DESC like '%'||#{keyword}||'%') 
	</select>
	
	<!-- DB 그룹 검색 -->
	<select id="manageDbGroupMapper.selectDbGroupList" parameterType="searchParameter" resultType="camelMap">
		select 
			GROUP_ID, GROUP_NAME, GROUP_DESC, REG_ID, REG_DT
		 	,to_char(a.REG_DT,'YYYY-MM-DD HH24:MI:SS') as CHAR_CRE_DT
		from VTDATABASE_GROUP a
		where 1=1
		<if test="@com.varsql.app.util.MybatisUtil@isNotAdmin()">
			and REG_ID =#{userId}	
		</if>
		and (GROUP_NAME like '%'||#{keyword}||'%' or GROUP_DESC like '%'||#{keyword}||'%') 
		order by REG_DT desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- DB 그룹 등록 -->
	<insert id="manageDbGroupMapper.insertDbGroupInfo" parameterType="dbGroupInfo">
		insert  into VTDATABASE_GROUP (GROUP_ID,GROUP_NAME,GROUP_DESC,REG_ID,REG_DT,UPD_ID,UPD_DT )
		values(
			#{groupId}
			, #{groupName}
			, #{groupDesc}
			, #{userId}
			, current_date
			, #{userId}
			, current_date
		);
	</insert>
	
	<!-- DB 그룹 수정 -->
	<update id="manageDbGroupMapper.updateDbGroupInfo" parameterType="dbGroupInfo">
		update VTDATABASE_GROUP
		set
			GROUP_NAME = #{groupName}
			, GROUP_DESC = #{groupDesc}
			, UPD_ID = #{userId}
			, UPD_DT = current_date
		where	GROUP_ID = #{groupId}
		<if test="@com.varsql.app.util.MybatisUtil@isNotAdmin()">
			and REG_ID =#{userId}	
		</if>
	</update>
	
	<!-- DB 그룹 삭제 -->
	<delete id="manageDbGroupMapper.deleteDbGroupInfo" parameterType="map">
		delete from VTDATABASE_GROUP 
		where GROUP_ID = #{groupId}
		
		<if test="@com.varsql.app.util.MybatisUtil@isNotAdmin()">
			and REG_ID =#{userId}	
		</if>
	</delete>
	
	<!-- db group 매핑정보 -->
	<select id="manageDbGroupMapper.selectDbGroupMappingList" resultType="map">
		select a.VCONNID , a.VNAME 
		from VTCONNECTION a , VTDATABASE_GROUP_DB b 
		where a.VCONNID = b.VCONNID  
		and a.use_yn = 'Y'
		and b.GROUP_ID = #{groupId}
	</select>
	
	
	<!-- db group 매핑정보  삭제. -->
	<delete id="manageDbGroupMapper.deleteDbGroupMappingInfo" parameterType="map">
		delete from VTDATABASE_GROUP_DB
		where GROUP_ID = #{groupId}
		<foreach item="item" index="index" collection="vconnidArr" open="and VCONNID in (" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- db group 매핑정보  등록 -->
	<insert id="manageDbGroupMapper.insertDbGroupMappingInfo" parameterType="map">
		insert into VTDATABASE_GROUP_DB (GROUP_ID,VCONNID,REG_ID,REG_DT )
		values( #{groupId},#{vconnid},#{uid},CURRENT_TIMESTAMP )  
	</insert>
	
</mapper>
