<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manageMapper">

	<select id="manageMapper.selectUserTotalcnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTUSER 
		where 1=1
		and USER_ROLE not in
		<choose>
			<when test="customParam.isAdmin">
				('ADMIN') 
			</when>
			<otherwise>
				('ADMIN','MANAGER') 
			</otherwise>
		</choose>
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%') 
	</select>

	<select id="manageMapper.selectUserList" parameterType="searchParameter" resultType="map">
		select 
			VIEWID
			,UNAME
			,DEPT_NM
			,ORG_NM
			,UID
			,ACCEPT_YN
			,DESCRIPTION
			,UEMAIL
			,'' as INITPW
		 	,to_char(a.REG_DT,'YYYY-MM-DD HH24:MI:SS') as CHAR_CRE_DT
		from VTUSER a
		where 1=1
		and USER_ROLE not in
		<choose>
			<when test="customParam.isAdmin">
				('ADMIN') 
			</when>
			<otherwise>
				('ADMIN','MANAGER') 
			</otherwise>
		</choose>
		and (UNAME like '%'||#{keyword}||'%' or UID like '%'||#{keyword}||'%')
		order by VIEWID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<delete id="manageMapper.deleteUserInfo" parameterType="map">
		delete from VTUSER where VIEWID =#{viewid}
	</delete>
	
	<!-- 사용자 접근 yn -->
	<update id="manageMapper.updateAccept" parameterType="map">
		update VTUSER 
		set 
			USER_ROLE =#{role}
			,ACCEPT_YN=#{acceptyn}
		where VIEWID =#{viewid}
	</update>
	
	<!-- 사용자  차단  yn -->
	<update id="manageMapper.updateBlockYn" parameterType="map">
		update VTUSER 
		set 
			BLOCK_YN=#{blockYn}
		where VIEWID =#{userid}
		and USER_ROLE in ('USER','GUEST')
	</update>
	
	<select id="manageMapper.selectQnaMgmtTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt
		from VTQNA a
		where DEL_YN !='Y'
		<if test="customParam.answerYn != null and !customParam.answerYn.equalsIgnoreCase('ALL')">
			<choose>
				<when test="customParam.answerYn.equalsIgnoreCase('Y')">
					and ANSWER_ID IS not NULL
				</when>
				<otherwise>
					and ANSWER_ID IS NULL
				</otherwise>
			</choose>
		</if>
		and (TITLE like '%'||#{keyword}||'%' or QUESTION LIKE '%'||#{keyword}||'%') 
	</select>
	
	<select id="manageMapper.selectQnaMgmtList" parameterType="searchParameter" resultType="dataCommonVO">
		select a.*, b.UNAME,to_char( a.REG_DT,'YYYY-MM-DD HH24:MI:SS') as CHAR_CRE_DT
			,to_char(a.ANSWER_DT,'YYYY-MM-DD HH24:MI:SS') as CHAR_ANSWER_DT
		from VTQNA a , VTUSER b
		where a.REG_ID = b.VIEWID
		and DEL_YN !='Y'
		<if test="customParam.answerYn != null and !customParam.answerYn.equalsIgnoreCase('ALL')">
			<choose>
				<when test="customParam.answerYn.equalsIgnoreCase('Y')">
					and ANSWER_ID IS not NULL
				</when>
				<otherwise>
					and ANSWER_ID IS NULL
				</otherwise>
			</choose>
		</if>
		and (TITLE like '%'||#{keyword}||'%' or QUESTION like '%'||#{keyword}||'%') 
		order by a.REG_DT desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<update id="manageMapper.updateQnaAnswerContent" parameterType="qnaInfo">
		update VTQNA
		set
			ANSWER =#{answer}
			,ANSWER_ID =#{userid}
			,ANSWER_DT = CURRENT TIMESTAMP
		where QNAID=#{qnaid}
	</update>
	
	<!--  권한 있는  db 수-->
	<select id="manageMapper.selectdbListTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as TOTALCNT 
		from VTCONNECTION a 
		<choose>
			<when test="customParam.role != null and customParam.role.equalsIgnoreCase('ADMIN')">
				where 1=1
			</when>
			<otherwise>
				, VTDATABASE_ROLE  b
				where a.VCONNID = b.VCONNID
				and b.ROLE_TYPE = 'M'
				and b.VIEWID = #{customParam.uid}
			</otherwise>
		</choose>
		and a.USE_YN = 'Y'
		and (a.VNAME like '%'||#{keyword}||'%' or a.VURL like '%'||#{keyword}||'%') 
	</select>
	
	<!-- 관리지 권한 있는 db목록. -->
	<select id="manageMapper.selectdbList" parameterType="searchParameter" resultType="map">
		select
			a.VCONNID
			,a.VNAME
		from VTCONNECTION a 
		<choose>
			<when test="customParam.role != null and customParam.role.equalsIgnoreCase('ADMIN')">
				where 1=1
			</when>
			<otherwise>
				, VTDATABASE_ROLE  b
				where a.VCONNID = b.VCONNID
				and b.ROLE_TYPE = 'M'
				and b.VIEWID = #{customParam.uid}
			</otherwise>
		</choose>
		and a.USE_YN = 'Y'
		
		<if test='!"Y".equalsIgnoreCase(customParam.allYn)'>
			and (a.VNAME like '%'||#{keyword}||'%' or a.VURL like '%'||#{keyword}||'%') 
			order  by a.VCONNID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
		</if>
	</select>
	
	<!-- db 사용자 목록. -->
	<select id="manageMapper.selectDbUserMappingList" parameterType="map" resultType="map">
		select * 
		from VTUSER a left outer join VTDATABASE_ROLE b 
		on a.VIEWID = b.VIEWID 
		and b.VCONNID = #{vconnid}
		and b.ROLE_TYPE = 'U'
		where (b.VCONNID = #{vconnid} or b.VCONNID is null ) 
	</select>
	
	<!-- db 사용자 삭제. -->
	<delete id="manageMapper.deleteDbUser" parameterType="map">
		delete from VTDATABASE_ROLE
		where ROLE_TYPE = 'U'
		and VCONNID = #{vconnid}
		<foreach item="item" index="index" collection="viewidArr" open="and VIEWID in (" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- db 사용자  등록 -->
	<insert id="manageMapper.updateDbUser" parameterType="map">
		insert into VTDATABASE_ROLE (VCONNID, VIEWID ,ROLE_TYPE, REG_ID ,REG_DT)
		values(
			#{vconnid}
			, #{viewid}
			,'U'
			, #{uid}
			,CURRENT TIMESTAMP
		)
	</insert>
	
</mapper>
