<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sqlStatsMapper">

	<!-- sql 로그 통계 날짜별 통계  -->
	<select id="sqlStatsMapper.selectSqlDateStat" parameterType="map" resultType="map">
		select 
			to_char(max(START_TIME),'yyyy-mm-dd') VIEW_DATE, CASE WHEN s_mm >= 10 then cast(S_MM AS CHAR(2)) else  '0'||CAST (S_MM AS CHAR(1)) END||'-'||
			CASE WHEN S_DD >= 10 then cast(S_DD AS CHAR(2)) else  '0'||CAST (S_DD AS CHAR(1)) END X_COL
			, count(1) as Y_COL 
		from VTSQL_LOG a
		where	VCONNID=#{vconnid}
		and START_TIME between #{s_date} and	#{e_date}
		group by S_MM , S_DD
		order by S_MM, S_DD
	</select>
	
	<!-- 
	sql 로그 통계 날짜별 통계
	select ,insert ,update	,delete	,create,alter,drop
	  -->
	<select id="sqlStatsMapper.selectSqlDayStat" parameterType="map" resultType="map">
		select 
			COMMAND_TYPE X_COL, count(1) as Y_COL
		from VTSQL_LOG a
		where	VCONNID=#{vconnid}
		and START_TIME between #{s_date} and	#{e_date}
		group by COMMAND_TYPE
	</select>
	
	<!-- 
		날짜별 top 5 
	 -->
	<select id="sqlStatsMapper.selectSqlDayUserRank" parameterType="map" resultType="map">
		select b.UNAME label , CNT as DATA from 
		(
			select 
				VIEWID, count(1) cnt 
			from VTSQL_LOG a
			where	VCONNID=#{vconnid}
			and START_TIME between #{s_date} and	#{e_date}
			<choose>
				<when test="'all'.equalsIgnoreCase(command_type)">
					
				</when>
		    	<otherwise>
		      		AND COMMAND_TYPE =#{command_type}
		    	</otherwise>
		  	</choose>
			group by VIEWID 
			order by CNT desc	  
			FETCH FIRST 5 ROWS ONLY
		) a , VTUSER b
		where a.VIEWID = b.VIEWID
	</select>
	
	<!-- log search count -->
	<select id="sqlStatsMapper.selectLogSearchTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTSQL_LOG 
		where 1=1
		and VCONNID=#{customParam.vconnid}
		and LOG_SQL like '%'||#{keyword}||'%' 
	</select>
	
	<!-- log search count -->
	<select id="sqlStatsMapper.selectLogSearch" parameterType="searchParameter" resultType="map">
		select a.* 
				, to_char( a.START_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_STARTDT
				, to_char( a.END_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_ENDDT
		from VTSQL_LOG a
		where 1=1
		and VCONNID=#{customParam.conuid}
		and LOG_SQL like '%'||#{keyword}||'%' 
		order by START_TIME desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	
	<!-- user log list-->
	<select id="sqlStatsMapper.selectUserHistorySearch" parameterType="searchParameter" resultType="map">
		select a.* 
				, to_char( a.START_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_STARTDT
				, to_char( a.END_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_ENDDT
		from VTSQL_LOG a
		where 1=1
		and VCONNID=#{customParam.conuid}
		and VIEWID=#{customParam.uid}
		and LOG_SQL like '%'||#{keyword}||'%' 
		order by START_TIME desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
</mapper>
