<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sqlServiceMapper">
	
	<!-- 사용자 sql 로그 저장 -->
	<insert id="sqlServiceMapper.insertSqlUserLog" parameterType="java.util.Map">
		insert into VTSQL_LOG (
			VCONNID
			, VIEWID
			, START_TIME
			, S_MM
			, S_DD
			, S_HH
			, END_TIME
			, DELAY_TIME
			, LOG_SQL
			, USR_IP
			, RESULT_COUNT
			, COMMAND_TYPE
		)
		values( 
			#{vconnid}
			, #{viewid}
			, #{startTime}
			, #{sMm}
			, #{sDd}
			, #{sHh}
			, #{endTime}
			, #{delayTime}
			, #{logSql}
			, #{usrIp}
			, #{resultCount}
			, #{commandType}
		)
	</insert>
	
	<!-- 사용자 sql 정보 저장  -->
	<insert id="sqlServiceMapper.saveQueryInfo" parameterType="sqlParamInfo">
		insert  into VTSQL_SQLFILE (
			VIEWID
			, VCONNID
			, SQL_ID
			, GUERY_TITLE
			, QUERY_CONT
			, SQL_PARAM
			, REG_DT
			, UPD_DT
		) 
		values(
			#{userid}
			, #{vconnid}
			, #{sqlId}
			, #{sqlTitle}
			, #{sql}
			, #{sqlParam}
			, CURRENT TIMESTAMP
			, CURRENT TIMESTAMP
		)
	</insert>
	
	<!-- 사용자 sql 정보 업데이트  -->
	<update id="sqlServiceMapper.updateQueryInfo" parameterType="sqlParamInfo">
		update VTSQL_SQLFILE 
		set
			UPD_DT = CURRENT TIMESTAMP
		<choose>
			<when test="custom != null and 'title'.equalsIgnoreCase(custom.mode)">
				, GUERY_TITLE = #{sqlTitle}
			</when>
			<otherwise>
				, QUERY_CONT = #{sql}
				, SQL_PARAM =#{sqlParam}
			</otherwise>
		</choose>
		where sql_id = #{sqlId}
		and VCONNID = #{vconnid}
		and VIEWID = #{userid}
	</update>
	
	<!-- 사용자  editor 활성화 정보 업데이트. -->
	<update id="sqlServiceMapper.updateSqlFileTabDisable" parameterType="sqlParamInfo">
		update VTSQL_SQLFILE_TAB
		set
			 VIEW_YN = 'N'
		where VCONNID = #{vconnid} 
		and VIEWID = #{userid}
	</update>
	
	<!-- tab 비활성화 -->
	<update id="sqlServiceMapper.updateSqlFileTabEnable" parameterType="sqlParamInfo">
		update VTSQL_SQLFILE_TAB 
		set
			VIEW_YN = 'Y'
		where VCONNID = #{vconnid} 
		and VIEWID = #{userid}
		and sql_id = #{sqlId}
	</update>
	
	<!-- sql tab 정보 등록. -->
	<insert id="sqlServiceMapper.insertSqlFileTabInfo" parameterType="sqlParamInfo">
		insert  into VTSQL_SQLFILE_TAB (VCONNID,VIEWID,PREV_SQL_ID,SQL_ID,VIEW_YN,REG_DT )
		values(
			#{vconnid}
			, #{userid}
			, #{custom.prevTabId}
			, #{sqlId}
			, 'Y' 
			, CURRENT TIMESTAMP
		)
	</insert>
	
	<!-- sql tab 앞에 정보 업데이트.  -->
	<update id="sqlServiceMapper.updateSqlFileTabPrevSqlIdInfo" parameterType="sqlParamInfo">
		update VTSQL_SQLFILE_TAB
			set PREV_SQL_ID = (select max(PREV_SQL_ID) from VTSQL_SQLFILE_TAB where VCONNID = #{vconnid} and SQL_ID = #{sqlId})
		where VCONNID = #{vconnid}
		and VIEWID = #{userid}
		and PREV_SQL_ID = #{sqlId}
	</update>
	
	<!-- sql tab 정보  삭제. -->
	<delete id="sqlServiceMapper.deleteSqlFileTabInfo" parameterType="sqlParamInfo">
		delete from VTSQL_SQLFILE_TAB
		where VCONNID = #{vconnid} 
		and VIEWID = #{userid}
		and SQL_ID = #{sqlId}
	</delete>
	
	<!-- query_cont map -->
	<resultMap id="varsqlBoardClobMap" type="dataCommonVO">
		<result column="QUERY_CONT" property="QUERY_CONT" jdbcType="CLOB" javaType="java.lang.String"/>
	</resultMap>
	
	<!-- 사용자 sql 목록  -->
	<select id="sqlServiceMapper.selectSqlFileTabList" parameterType="sqlParamInfo" resultMap="varsqlBoardClobMap">
		select vsf.SQL_ID, vsf.VIEW_YN, vsf.PREV_SQL_ID, vsf.VCONNID , a.QUERY_CONT, a.GUERY_TITLE
		from   VTSQL_SQLFILE_TAB vsf , VTSQL_SQLFILE a
		where vsf.SQL_ID = a.SQL_ID
		and vsf.VCONNID = #{vconnid}
		and vsf.VIEWID = #{userid}
		order by vsf.PREV_SQL_ID asc
	</select>
	
	<select id="sqlServiceMapper.selectSqlFileList" parameterType="sqlParamInfo" resultMap="varsqlBoardClobMap">
		select * from VTSQL_SQLFILE
		where VCONNID = #{vconnid}
		and VIEWID = #{userid}
		and GUERY_TITLE like '%'||#{custom.searchVal}||'%' 
		order by GUERY_TITLE asc  
	</select>
	
	<!-- sql 저장 정보 삭제 .  -->
	<delete id="sqlServiceMapper.deleteSqlSaveInfo" parameterType="sqlParamInfo">
		delete from VTSQL_SQLFILE
		where VCONNID = #{vconnid}
		and SQL_ID = #{sqlId}
	</delete>
	
	
	<!-- 사용자 로그 저장.  -->
	<insert id="sqlServiceMapper.insertUserHistory" parameterType="sqlUserHistoryInfo">
		insert  into VTSQL_HISTORY (
			VCONNID
			, VIEWID
			, HISTORYID
			, START_TIME
			, END_TIME
			, DELAY_TIME
			, LOG_SQL
			, USR_IP
			, ERROR_LOG 
		) 
		values(
			#{vconnid}
			, #{viewid}
			, #{historyId}
			, #{startTime}
			, #{endTime}
			, #{delayTime}
			, #{logSql}
			, #{usrIp}
			, #{errorLog} 
		)
	</insert>
	
	<!-- user log total count-->
	<select id="sqlServiceMapper.selectUserHistoryTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) TOTAL_CNT
		from VTSQL_HISTORY a
		where 1=1
		and VCONNID=#{customParam.conuid}
		and VIEWID=#{customParam.uid}
		and LOG_SQL like '%'||#{keyword}||'%' 
	</select>
	
	<resultMap id="varsqlUserClobMap" type="hashmap">
		<result column="LOG_SQL" property="LOG_SQL" jdbcType="CLOB" javaType="java.lang.String"/>
	</resultMap>
	
	<!-- user log list-->
	<select id="sqlServiceMapper.selectUserHistorySearch" parameterType="searchParameter" resultMap="varsqlUserClobMap">
		select a.* 
				, to_char( a.START_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_STARTDT
				, to_char( a.END_TIME,'YYYY-MM-DD HH24:MI:SS') as VIEW_ENDDT
		from VTSQL_HISTORY a
		where 1=1
		and VCONNID=#{customParam.conuid}
		and VIEWID=#{customParam.uid}
		and LOG_SQL like '%'||#{keyword}||'%' 
		order by START_TIME desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
</mapper>
