<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sqlServiceMapper">
	
	<!-- 사용자 sql 로그 저장 -->
	<insert id="sqlServiceMapper.insertSqlUserLog" parameterType="java.util.Map">
		insert into VTSQL_LOG (
			VCONNID
			, VIEWID
			, START_TIME
			, S_MM
			, S_DD
			, S_HH
			, END_TIME
			, DELAY_TIME
			, LOG_SQL
			, RESULT_COUNT
			, COMMAND_TYPE
		)
		values( 
			#{vconnid}
			, #{viewid}
			, #{start_time}
			, #{s_mm}
			, #{s_dd}
			, #{s_hh}
			, #{end_time}
			, #{delay_time}
			, #{log_sql}
			, #{result_count}
			, #{command_type}
		)
	</insert>
	
	<!-- 사용자 sql 정보 저장  -->
	<insert id="sqlServiceMapper.saveQueryInfo" parameterType="sqlParamInfo">
		insert  into VTSQL_BOARD (
			VIEWID
			, VCONNID
			, SQL_ID
			, GUERY_TITLE
			, QUERY_CONT
			, SQL_PARAM
			, REG_DT
			, UPD_DT
		) 
		values(
			#{userid}
			, #{vconnid}
			, #{sqlId}
			, #{sqlTitle}
			, #{sql}
			, #{sqlParam}
			, CURRENT TIMESTAMP
			, CURRENT TIMESTAMP
		)
	</insert>
	
	<!-- 사용자 sql 정보 업데이트  -->
	<update id="sqlServiceMapper.updateQueryInfo" parameterType="sqlParamInfo">
		update VTSQL_BOARD 
		set
			 GUERY_TITLE = #{sqlTitle}
			, QUERY_CONT = #{sql}
			, UPD_DT = CURRENT TIMESTAMP
			, SQL_PARAM =#{sqlParam}
		where sql_id = #{sqlId}
		and VCONNID = #{vconnid}
		and VIEWID = #{userid}
	</update>
	
	<!-- 사용자 sql 마지막 저장 정보  -->
	<select id="sqlServiceMapper.selectLastSqlInfo" parameterType="sqlParamInfo" resultType="map">
		select * from VTSQL_BOARD
		where VCONNID = #{vconnid}
		and VIEWID = #{userid}
		order by upd_dt desc
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<!-- 사용자 sql 목록 토탈 카운트 -->
	<select id="sqlServiceMapper.selectSqlListTotalCnt" parameterType="sqlParamInfo" resultType="int">
		select count(1) as TOTALCNT 
		from VTSQL_BOARD
		where VCONNID = #{vconnid}
		and VIEWID = #{userid}
		and GUERY_TITLE like '%'||#{customInfo.searchVal}||'%' 
	</select>
	
	<!-- 사용자 sql 목록  -->
	<select id="sqlServiceMapper.selectSqlList" parameterType="sqlParamInfo" resultType="map">
		<bind name="pageStartNum" value="(customInfo.first-1)" />
		select * from VTSQL_BOARD
		where VCONNID = #{vconnid}
		and VIEWID = #{userid}
		and GUERY_TITLE like '%'||#{customInfo.searchVal}||'%' 
		order by upd_dt desc OFFSET ${pageStartNum}-1 ROWS FETCH FIRST ${customInfo.rows} ROWS ONLY
	</select>
	
	<!-- sql 저장 정보 삭제 .  -->
	<delete id="sqlServiceMapper.deleteSqlSaveInfo" parameterType="sqlParamInfo">
		delete from VTSQL_BOARD
		where SQL_ID = #{sqlId}
	</delete>
	
</mapper>
