<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	
	<!-- id check -->
	<select id="userMapper.selectIdCheck" parameterType="string" resultType="int">
		select count(1)as CNT 
		from VTUSER
		where uid =#{uid} 
	</select>
	
	<!-- 사용자 view id max val -->
	<select id="userMapper.selectUserMaxVal" resultType="string">
		select max(viewid)as maxval from VTUSER 
	</select>
	
	<!-- 회원 가입. -->
	<insert id="userMapper.insertUserInfo" parameterType="joinForm">
		insert  into VTUSER (
			VIEWID 
			, UID 
			, UPW 
			, UNAME 
			, ORG_NM 
			, DEPT_NM 
			, UEMAIL 
			, USER_ROLE 
			, DESCRIPTION 
			, ACCEPT_YN
			, REG_ID 
			, REG_DT
			, UPD_ID
			, UPD_DT
		) 
		values(
			#{viewid}
			, #{uid}
			, #{upw}
			, #{uname}
			, #{orgNm}
			, #{deptNm}
			, #{uemail}
			, 'GUEST'
			, #{description}
			, #{acceptYn}
			, #{creId}
			, CURRENT_TIMESTAMP
			, #{creId}
			, CURRENT_TIMESTAMP
		) 
	</insert>
	
	<!-- 사용자 조회  -->
	<select id="userMapper.selectSearchUserList" parameterType="map" resultType="map">
		select VIEWID,UID,UNAME
		from VTUSER
		WHERE ACCEPT_YN ='Y'
		and USER_ROLE not in ('ADMIN')
		and (UID like '%'||#{searchVal}||'%' or UNAME like '%'||#{searchVal}||'%') 
	</select>
	
	<!-- 신규 메시지 조회  -->
	<select id="userMapper.selectMessageInfo" parameterType="map" resultType="map">
		select c.* , d.UNAME as SEND_NM , d.UID  as SEND_ID
		from (
			select a.MEMO_TITLE , a.MEMO_ID, a.MEMO_CONT, SEND_ID, to_char(REG_DT,'YYYY-MM-DD HH24:MI:SS') as REG_DT , VIEW_DT
			from VTMEMO a , VTMEMO_USER b 
			where a.MEMO_ID = b.MEMO_ID 
			and RECV_ID = #{uid}
			and VIEW_DT is null
			order by reg_dt desc
		) c left outer join VTUSER d 
		where c.SEND_ID  = d.VIEWID
	</select>
	
	
	
	
	<!-- 메시지 정보 보내기  -->
	<insert id="userMapper.insertSendMemoInfo" parameterType="memoInfo">
		insert  into VTMEMO (
			MEMO_ID
			, PARENT_MEMO_ID
			, MEMO_TITLE
			, MEMO_CONT
			, REG_ID
			, REG_DT
		) 
		values(
			#{memoId}
			, #{parentMemoId}
			, #{memoTitle}
			, #{memoCont}
			, #{regId}
			, CURRENT_TIMESTAMP
		)
	</insert>
	
	<!-- 메시지 보낸 사용자 -->
	<select id="userMapper.selectSendMemoUser" parameterType="memoInfo" resultType="string">
		select REG_ID from VTMEMO
		where MEMO_ID = #{memoId}
	</select>
	
	<!-- 메시지 보낸 사람과 받는 사람 등록. -->
	<insert id="userMapper.insertSendUserInfo" parameterType="memoInfo">
		insert  into VTMEMO_USER (
			MEMO_ID
			,SEND_ID
			,RECV_ID
		) 
		values(
			#{memoId}
			, #{regId}
			, #{recvId}
		)
	</insert>
	
	<!-- 메시지 확인 날짜 업데이트-->
	<update id="userMapper.updateMemoViewDate" parameterType="map">
		update VTMEMO_USER 
		set 
			VIEW_DT = CURRENT_TIMESTAMP
		where RECV_ID = #{uid}
		and MEMO_ID = #{memo_id}
	</update>
	
</mapper>
