# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#query dsl dir
generated

bin/


#file extension
*.tmp
*.bak

#directory
.externalToolBuilders/
.class

#eclipse sub project config file
*/.project
*/.classpath
*/.settings

#compile directory
*/target

