<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"></setting>
		<setting name="callSettersOnNulls" value="true"></setting>
		<setting name="jdbcTypeForNull" value="NULL" ></setting>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		<setting name="logPrefix" value="com.varsql_query"></setting>  
	</settings>
	
	<typeAliases>
	  <typeAlias alias="preferencesInfo" type="com.varsql.web.app.database.bean.PreferencesInfo"/>
	  <typeAlias alias="searchParameter" type="com.vartech.common.app.beans.SearchParameter"/>
	  <typeAlias alias="sqlParamInfo" type="com.varsql.web.app.database.bean.SqlParamInfo"/>
	</typeAliases>
</configuration>