<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<select id="adminMapper.selectPageList" parameterType="java.util.Map" resultType="java.util.Map">
		select * 
		from VTCONNECTION 
		where (VNAME like '%'||#{searchval}||'%' or VURL like '%'||#{searchval}||'%') 
		order by VCONNID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="adminMapper.selectPageTotalCnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from VTCONNECTION 
		where (VNAME like '%'||#{searchval}||'%' or VURL like '%'||#{searchval}||'%') 
	</select>
	
	<select id="adminMapper.selectDetailObject" parameterType="java.util.Map" resultType="com.varsql.web.common.vo.DataCommonVO">
		select * 
		from VTCONNECTION 
		where VCONNID =#{vconid}
	</select>
	
	<select id="adminMapper.selectVtconnectionMaxVal" resultType="java.lang.String">
		select max(VCONNID)as maxval from VTCONNECTION
	</select>
	
	<insert id="adminMapper.insertVtconnectionInfo" parameterType="java.util.Map">
		insert into VTCONNECTION (
			VNAME 
			,VURL 
			,VDBSCHEMA 
			,VDRIVER 
			,VTYPE 
			,VID 
			,VPW
			,VCONNOPT 
			,VPOOLOPT
			,VSQL
			,VCONNID
		)
		values (
			#{vname}
			,#{vurl} 
			,#{vdbschema} 
			,#{vdriver} 
			,#{vtype}
			,#{vid}
			,#{vpw}
			,#{vconnopt}
			,#{vpoolopt}
			,#{vsql}
			,#{vconid}
		)
	</insert>
	
	<update id="adminMapper.updateVtconnectionInfo" parameterType="java.util.Map">
		update VTCONNECTION 
		set 
			VNAME =#{vname}
			, VURL =#{vurl}
			, VDBSCHEMA =#{vdbschema}
			, VDRIVER =#{vdriver} 
			, VTYPE =#{vtype}
			, VID =#{vid}
			, VPW =#{vpw}
			, VCONNOPT =#{vconnopt}
			, VPOOLOPT =#{vpoolopt}
			, VSQL=#{vsql}
		where VCONNID =#{vconid}
	</update>
	
	<delete id="adminMapper.deleteVtconnectionInfo" parameterType="java.util.Map">
		delete from VTCONNECTION where VCONNID =#{vconid}
	</delete>
	
	<select id="adminMapper.selectRoleUserTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where ROLE = 'USER' 
		and (UNAME like '%'||#{searchval}||'%' or UID like '%'||#{searchval}||'%') 
	</select>

	<select id="adminMapper.selectRoleUserList" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*, a.CRE_DT as CHAR_CRE_DT
		from VTUSER a
		where ROLE = 'USER' 
		and (UNAME like '%'||#{searchval}||'%' or UID like '%'||#{searchval}||'%') 
		order by VIEWID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="adminMapper.selectRoleManagerTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where ROLE = 'MANAGER' 
		and (UNAME like '%'||#{searchval}||'%' or UID like '%'||#{searchval}||'%') 
	</select>

	<select id="adminMapper.selectRoleManagerList" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*, a.CRE_DT as CHAR_CRE_DT
		from VTUSER a
		where ROLE = 'MANAGER' 
		and (UNAME like '%'||#{searchval}||'%' or UID like '%'||#{searchval}||'%') 
		order by VIEWID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<update id="adminMapper.updateManagerRole" parameterType="java.util.Map">
		update VTUSER 
		set 
		<choose>
			<when test="mode=='add'">
				ROLE = 'MANAGER'
			</when>
	    	<otherwise>
	      		ROLE = 'USER'
	    	</otherwise>
	  	</choose>
		where VIEWID =#{viewid}
	</update>
	
	<select id="adminMapper.selectDatabaseManager" parameterType="java.util.Map" resultType="java.util.Map">
		select * 
		from VTUSER a left outer join VTDATABASE_MANAGER_ROLE b 
		on a.VIEWID = b.VIEWID 
		and b.VCONNID = #{vconid}
		where ROLE = 'MANAGER' and (b.VCONNID = #{vconid} or b.VCONNID is null ) 
	</select>
	
	<delete id="adminMapper.deleteDbManager" parameterType="java.util.Map">
		delete from VTDATABASE_MANAGER_ROLE
		where VCONNID = #{vconid}
	</delete>
	
	<update id="adminMapper.updateDbManager" parameterType="java.util.Map">
		insert into VTDATABASE_MANAGER_ROLE (VCONNID, VIEWID , UPD_DT)
		values(
			#{vconid}
			, #{viewid}
			,CURRENT TIMESTAMP
		)
	</update>
	
	<select id="adminMapper.selectAllDbType" parameterType="java.util.Map" resultType="java.util.Map">
		select * from VTDBTYPE
	</select>
	
	<select id="adminMapper.listDbMenuTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from VTMENU
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchval}||'%' or UNIQUE_ID like '%'||#{searchval}||'%') 
	</select>
	
	<select id="adminMapper.listDbMenu" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*
		from VTMENU a
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchval}||'%' or UNIQUE_ID like '%'||#{searchval}||'%') 
	</select>
	
	<insert id="adminMapper.addDbMenu" parameterType="java.util.Map">
		insert  into VTMENU (
			DB_TYPE 
			, MENU_ID 
			, P_MENU_ID 
			, UNIQUE_ID 
			, MENU_NM 
			, MENU_URL 
			, MENU_PARAM 
			, POPUP_YN 
			, VIEW_OPTION 
			, SORT_ORDER 
			, DEPTH
			, USE_YN
		)values(
			#{db_type}
			,#{menu_id}
			,#{p_menu_id}
			,#{unique_id}
			,#{menu_nm}
			,#{menu_url}
			,#{menu_param}
			,#{popup_yn}
			,#{view_option}
			,#{sort_order}
			,#{depth}
			,#{use_yn}
		)
	</insert>
	
	<update id="adminMapper.moodifyDbMenu" parameterType="java.util.Map">
		update VTMENU 
		set 
			DB_TYPE=#{db_type}
			,UNIQUE_ID=#{unique_id}
			,MENU_NM=#{menu_nm}
			,MENU_URL=#{menu_url}
			,MENU_PARAM=#{menu_param}
			,POPUP_YN=#{popup_yn}
			,VIEW_OPTION=#{view_option}
			,SORT_ORDER=#{sort_order}
			,DEPTH=#{depth}
			,USE_YN=#{use_yn}
		where MENU_ID =#{menu_id}
	</update>
	
	<delete id="adminMapper.deleteDbMenu" parameterType="java.util.Map">
		delete from VTMENU where MENU_ID =#{menu_id}
	</delete>
	
	<!-- db driver list -->
	<select id="adminMapper.selectDbDriverList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DBTYPE,DBDRIVER,DRIVER_DESC 
		FROM VTDBTYPE_DRIVER
		WHERE DBTYPE = #{db_type}
	</select>
</mapper>
