<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<select id="adminMapper.selectPageList" parameterType="java.util.Map" resultType="java.util.Map">
		select * 
		from vtconnection 
		where (vname like '%'||#{searchval}||'%' or vurl like '%'||#{searchval}||'%') 
		order by vconnid desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="adminMapper.selectPageTotalCnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from vtconnection 
		where (vname like '%'||#{searchval}||'%' or vurl like '%'||#{searchval}||'%') 
	</select>
	
	<select id="adminMapper.selectDetailObject" parameterType="java.util.Map" resultType="com.varsql.web.common.vo.DataCommonVO">
		select * 
		from vtconnection 
		where vconnid =#{vconid}
	</select>
	
	<select id="adminMapper.selectVtconnectionMaxVal" resultType="java.lang.String">
		select max(vconnid)as maxval from vtconnection
	</select>
	
	<insert id="adminMapper.insertVtconnectionInfo" parameterType="java.util.Map">
		insert into vtconnection (
			vname 
			,vurl 
			,vdbname 
			,vdriver 
			,vtype 
			,vid 
			,vpw
			,vconnopt 
			,vpoolopt
			,vsql
			,vconnid
		)
		values (
			#{vname}
			,#{vurl} 
			,#{vdbname} 
			,#{vdriver} 
			,#{vtype}
			,#{vid}
			,#{vpw}
			,#{vconnopt}
			,#{vpoolopt}
			,#{vsql}
			,#{vconid}
		)
	</insert>
	
	<update id="adminMapper.updateVtconnectionInfo" parameterType="java.util.Map">
		update vtconnection 
		set 
			vname =#{vname}
			, vurl =#{vurl}
			, vdbname =#{vdbname}
			, vdriver =#{vdriver} 
			, vtype =#{vtype}
			, vid =#{vid}
			, vpw =#{vpw}
			, vconnopt =#{vconnopt}
			, vpoolopt =#{vpoolopt}
			, vsql=#{vsql}
		where vconnid =#{vconid}
	</update>
	
	<delete id="adminMapper.deleteVtconnectionInfo" parameterType="java.util.Map">
		delete from vtconnection where vconnid =#{vconid}
	</delete>
	
	<select id="adminMapper.selectRoleUserTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from vtuser
		where role = 'USER' 
		and (uname like '%'||#{searchval}||'%' or uid like '%'||#{searchval}||'%') 
	</select>

	<select id="adminMapper.selectRoleUserList" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*, CHAR (a.cre_dt) as char_cre_dt
		from vtuser a
		where role = 'USER' 
		and (uname like '%'||#{searchval}||'%' or uid like '%'||#{searchval}||'%') 
		order by viewid desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="adminMapper.selectRoleManagerTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from vtuser
		where role = 'MANAGER' 
		and (uname like '%'||#{searchval}||'%' or uid like '%'||#{searchval}||'%') 
	</select>

	<select id="adminMapper.selectRoleManagerList" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*, CHAR (a.cre_dt) as char_cre_dt
		from vtuser a
		where role = 'MANAGER' 
		and (uname like '%'||#{searchval}||'%' or uid like '%'||#{searchval}||'%') 
		order by viewid desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<update id="adminMapper.updateManagerRole" parameterType="java.util.Map">
		update vtuser 
		set 
		<choose>
			<when test="mode=='add'">
				role = 'MANAGER'
			</when>
	    	<otherwise>
	      		role = 'USER'
	    	</otherwise>
	  	</choose>
		where viewid =#{viewid}
	</update>
	
	<select id="adminMapper.selectDatabaseManager" parameterType="java.util.Map" resultType="java.util.Map">
		select * 
		from vtuser a left outer join vtdatabase_manager_role b 
		on a.viewid = b.viewid 
		and b.vconnid = #{vconid}
		where ROLE = 'MANAGER' and (b.vconnid = #{vconid} or b.vconnid is null ) 
	</select>
	
	<delete id="adminMapper.deleteDbManager" parameterType="java.util.Map">
		delete from vtdatabase_manager_role
		where vconnid = #{vconid}
	</delete>
	
	<update id="adminMapper.updateDbManager" parameterType="java.util.Map">
		insert into vtdatabase_manager_role (vconnid, viewid , upd_dt)
		values(
			#{vconid}
			, #{viewid}
			,CURRENT TIMESTAMP
		)
	</update>
	
	<select id="adminMapper.selectAllDbType" parameterType="java.util.Map" resultType="java.util.Map">
		select * from vtdbtype
	</select>
	
	<select id="adminMapper.listDbMenuTotalcnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt 
		from vtmenu
		where db_type  = #{db_type}
		and (menu_nm like '%'||#{searchval}||'%' or unique_id like '%'||#{searchval}||'%') 
	</select>
	
	<select id="adminMapper.listDbMenu" parameterType="java.util.Map" resultType="java.util.Map">
		select a.*
		from vtmenu a
		where db_type  = #{db_type}
		and (menu_nm like '%'||#{searchval}||'%' or unique_id like '%'||#{searchval}||'%') 
	</select>
	
	<insert id="adminMapper.addDbMenu" parameterType="java.util.Map">
		insert  into vtmenu (
			db_type 
			, menu_id 
			, p_menu_id 
			, unique_id 
			, menu_nm 
			, menu_url 
			, menu_param 
			, popup_yn 
			, view_option 
			, sort_order 
			, depth
			, use_yn
		)values(
			#{db_type}
			,#{menu_id}
			,#{p_menu_id}
			,#{unique_id}
			,#{menu_nm}
			,#{menu_url}
			,#{menu_param}
			,#{popup_yn}
			,#{view_option}
			,#{sort_order}
			,#{depth}
			,#{use_yn}
		)
	</insert>
	
	<update id="adminMapper.moodifyDbMenu" parameterType="java.util.Map">
		update vtmenu 
		set 
			db_type=#{db_type}
			,unique_id=#{unique_id}
			,menu_nm=#{menu_nm}
			,menu_url=#{menu_url}
			,menu_param=#{menu_param}
			,popup_yn=#{popup_yn}
			,view_option=#{view_option}
			,sort_order=#{sort_order}
			,depth=#{depth}
			,use_yn=#{use_yn}
		where menu_id =#{menu_id}
	</update>
	
	<delete id="adminMapper.deleteDbMenu" parameterType="java.util.Map">
		delete from vtmenu where menu_id =#{menu_id}
	</delete>
</mapper>
