<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">
	
	<!--  db 목록 보기. -->
	<select id="adminMapper.selectDBTotalCnt" parameterType="searchParameter" resultType="int">
		select count(1) as totalcnt 
		from VTCONNECTION 
		where (VNAME like '%'||#{keyword}||'%' or VURL like '%'||#{keyword}||'%') 
	</select>
	
	<select id="adminMapper.selectDbList" parameterType="searchParameter" resultType="hashmap">
		select * 
		from VTCONNECTION 
		where (VNAME like '%'||#{keyword}||'%' or VURL like '%'||#{keyword}||'%') 
		order by VCONNID desc OFFSET ${first}-1 ROWS FETCH FIRST ${countPerPage} ROWS ONLY
	</select>
	
	<!-- db connection 정보 상세보기. -->	
	<select id="adminMapper.selectDetailObject" parameterType="map" resultType="dataCommonVO">
		select * 
		from VTCONNECTION 
		where VCONNID =#{vconid}
	</select>
	
	<select id="adminMapper.selectVtconnectionMaxVal" resultType="java.lang.String">
		select max(VCONNID)as maxval from VTCONNECTION
	</select>
	
	<insert id="adminMapper.insertVtconnectionInfo" parameterType="map">
		insert into VTCONNECTION (
			VCONNID
			,VNAME 
			,VURL 
			,VDBSCHEMA 
			,VDRIVER 
			,VTYPE 
			,VID 
			,VPW
			,VCONNOPT 
			,VPOOLOPT
			,VQUERY
			,REG_ID
			,REG_DT
			,UPD_ID
			,UPD_DT
		)values (
			#{vconid}
			,#{vname}
			,#{vurl} 
			,#{vdbschema} 
			,#{vdriver} 
			,#{vtype}
			,#{vid}
			,#{vpw}
			,#{vconnopt}
			,#{vpoolopt}
			,#{vquery}
			,#{uid}
			,CURRENT TIMESTAMP
			,#{uid}
			,CURRENT TIMESTAMP
		)
	</insert>
	
	<update id="adminMapper.updateVtconnectionInfo" parameterType="map">
		update VTCONNECTION 
		set 
			VNAME =#{vname}
			, VURL =#{vurl}
			, VDBSCHEMA =#{vdbschema}
			, VDRIVER =#{vdriver} 
			, VTYPE =#{vtype}
			, VID =#{vid}
			, VPW =#{vpw}
			, VCONNOPT =#{vconnopt}
			, VPOOLOPT =#{vpoolopt}
			, VQUERY=#{vquery}
			, UPD_ID = #{uid}
			, UPD_DT =CURRENT TIMESTAMP 
		where VCONNID =#{vconid}
	</update>
	
	<delete id="adminMapper.deleteVtconnectionInfo" parameterType="map">
		delete from VTCONNECTION where VCONNID =#{vconid}
	</delete>
	
	<select id="adminMapper.selectRoleUserTotalcnt" parameterType="map" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where USER_ROLE = 'USER' 
		and (UNAME like '%'||#{searchVal}||'%' or UID like '%'||#{searchVal}||'%') 
	</select>

	<select id="adminMapper.selectRoleUserList" parameterType="map" resultType="hashmap">
		select a.*, a.REG_DT as CHAR_CRE_DT
		from VTUSER a
		where USER_ROLE = 'USER' 
		and (UNAME like '%'||#{searchVal}||'%' or UID like '%'||#{searchVal}||'%') 
		order by VIEWID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="adminMapper.selectRoleManagerTotalcnt" parameterType="map" resultType="int">
		select count(1) as totalcnt 
		from VTUSER
		where USER_ROLE = 'MANAGER' 
		and (UNAME like '%'||#{searchVal}||'%' or UID like '%'||#{searchVal}||'%') 
	</select>

	<select id="adminMapper.selectRoleManagerList" parameterType="map" resultType="hashmap">
		select a.*, a.REG_DT as CHAR_CRE_DT
		from VTUSER a
		where USER_ROLE = 'MANAGER' 
		and (UNAME like '%'||#{searchVal}||'%' or UID like '%'||#{searchVal}||'%') 
		order by VIEWID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<update id="adminMapper.updateManagerRole" parameterType="map">
		update VTUSER 
		set 
		<choose>
			<when test="mode=='add'">
				USER_ROLE = 'MANAGER'
			</when>
	    	<otherwise>
	      		USER_ROLE = 'USER'
	    	</otherwise>
	  	</choose>
		where VIEWID =#{viewid}
	</update>
	
	<select id="adminMapper.selectDatabaseManager" parameterType="map" resultType="hashmap">
		select * 
		from VTUSER a left outer join VTDATABASE_ROLE b 
		on a.VIEWID = b.VIEWID 
		and b.VCONNID = #{vconid}
		and b.ROLE_TYPE = 'M'
		where USER_ROLE = 'MANAGER' and (b.VCONNID = #{vconid} or b.VCONNID is null ) 
	</select>
	
	<delete id="adminMapper.deleteDbManager" parameterType="map">
		delete from VTDATABASE_ROLE
		where and b.ROLE_TYPE = 'M' 
		and VCONNID = #{vconid}
	</delete>
	
	<update id="adminMapper.updateDbManager" parameterType="map">
		insert into VTDATABASE_ROLE (VCONNID, VIEWID , ROLE_TYPE, REG_ID, REG_DT)
		values(
			#{vconid}
			, #{viewid}
			, 'M'
			, #{uid}
			,CURRENT TIMESTAMP
		)
	</update>
	
	<select id="adminMapper.selectAllDbType" parameterType="map" resultType="hashmap">
		select * from VTDBTYPE
	</select>
	
	<select id="adminMapper.listDbMenuTotalcnt" parameterType="map" resultType="int">
		select count(1) as totalcnt 
		from VTMENU
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchVal}||'%' or UNIQUE_ID like '%'||#{searchVal}||'%') 
	</select>
	
	<select id="adminMapper.listDbMenu" parameterType="map" resultType="hashmap">
		select a.*
		from VTMENU a
		where DB_TYPE  = #{db_type}
		and (MENU_NM like '%'||#{searchVal}||'%' or UNIQUE_ID like '%'||#{searchVal}||'%') 
	</select>
	
	<insert id="adminMapper.addDbMenu" parameterType="map">
		insert  into VTMENU (
			DB_TYPE 
			, MENU_ID 
			, P_MENU_ID 
			, UNIQUE_ID 
			, MENU_NM 
			, MENU_URL 
			, MENU_PARAM 
			, POPUP_YN 
			, VIEW_OPTION 
			, SORT_ORDER 
			, DEPTH
			, USE_YN
		)values(
			#{db_type}
			,#{menu_id}
			,#{p_menu_id}
			,#{unique_id}
			,#{menu_nm}
			,#{menu_url}
			,#{menu_param}
			,#{popup_yn}
			,#{view_option}
			,#{sort_order}
			,#{depth}
			,#{use_yn}
		)
	</insert>
	
	<update id="adminMapper.moodifyDbMenu" parameterType="map">
		update VTMENU 
		set 
			DB_TYPE=#{db_type}
			,UNIQUE_ID=#{unique_id}
			,MENU_NM=#{menu_nm}
			,MENU_URL=#{menu_url}
			,MENU_PARAM=#{menu_param}
			,POPUP_YN=#{popup_yn}
			,VIEW_OPTION=#{view_option}
			,SORT_ORDER=#{sort_order}
			,DEPTH=#{depth}
			,USE_YN=#{use_yn}
		where MENU_ID =#{menu_id}
	</update>
	
	<delete id="adminMapper.deleteDbMenu" parameterType="map">
		delete from VTMENU where MENU_ID =#{menu_id}
	</delete>
	
	<!-- db driver list -->
	<select id="adminMapper.selectDbDriverList" parameterType="map" resultType="hashmap">
		SELECT DRIVER_ID,DBTYPE,DBDRIVER,DRIVER_DESC
		FROM VTDBTYPE_DRIVER
		WHERE DBTYPE = #{db_type}
	</select>
</mapper>
