<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

	<select id="userMapper.selectUserDetail" parameterType="java.util.Map" resultType="dataCommonVO">
		select * 
		from VTUSER 
		where viewid =#{viewid}
	</select>
	
	<select id="userMapper.selectIdCheck" parameterType="string" resultType="int">
		select count(1)as CNT 
		from VTUSER
		where uid =#{uid} 
	</select>

	<select id="userMapper.selectUserMaxVal" resultType="java.lang.String">
		select max(viewid)as maxval from VTUSER 
	</select>
	
	<insert id="userMapper.insertUserInfo" parameterType="userForm">
		insert  into VTUSER (
			VIEWID 
			, UID 
			, UPW 
			, UNAME 
			, ORG_NM 
			, DEPT_NM 
			, UEMAIL 
			, ROLE 
			, DESCRIPTION 
			, ACCEPT_YN
			, CRE_ID 
			, UPD_ID
			, CRE_DT
		) 
		values(
			#{viewid}
			, #{uid}
			, #{upw}
			, #{uname}
			, #{orgNm}
			, #{deptNm}
			, #{uemail}
			, 'GUEST'
			, #{description}
			, #{acceptYn}
			, #{creId}
			, #{creId}
			, CURRENT TIMESTAMP
		) 
	</insert>
	
	<update id="userMapper.updateUserInfo" parameterType="java.util.Map">
		update VTUSER 
		set 
			UPW=#{upw}
			, UNAME =#{uname}
			, ORG_NM =#{org_nm}
			, DEPT_NM =#{dept_nm}
			, UEMAIL =#{uemail}
			, DESCRIPTION =#{description}
			, UPD_DT = CURRENT TIMESTAMP
		where VIEWID =#{viewid}
	</update>
	
	<select id="userMapper.selectQnaTotalCnt" parameterType="java.util.Map" resultType="int">
		select count(1) as totalcnt
		from VTQNA a
		where CRE_ID =#{uid}
		and DEL_YN !='Y'
		and (TITLE like '%'||#{searchVal}||'%' or QUESTION like '%'||#{searchVal}||'%') 
	</select>
	
	<select id="userMapper.selectQna" parameterType="java.util.Map" resultType="dataCommonVO">
		select a.*, a.CRE_DT as CHAR_CRE_DT , a.UPD_DT as CHAR_UPD_DT 
		from VTQNA a
		where CRE_ID =#{uid}
		and DEL_YN !='Y'
		and (TITLE like '%'||#{searchVal}||'%' or QUESTION like '%'||#{searchVal}||'%') 
		order by QNAID desc OFFSET ${first} ROWS FETCH FIRST ${rows} ROWS ONLY
	</select>
	
	<select id="userMapper.selectDetailQna" parameterType="java.util.Map" resultType="dataCommonVO">
		select a.*, a.CRE_DT as CHAR_CRE_DT 
		from VTQNA a
		where DEL_YN !='Y'
		and QNAID=#{qnaid}
	</select>
	
	<select id="userMapper.selectQnaMaxVal" parameterType="java.util.Map" resultType="java.lang.String">
		select max(QNAID)as MAXVAL from VTQNA
	</select>
	
	<insert id="userMapper.insertQnaInfo" parameterType="java.util.Map">
		insert  into VTQNA (
			QNAID 
			, TITLE 
			, QUESTION 
			, CRE_ID 
			, CRE_DT 
			, DEL_YN
			, ANSWER
		)
		values(
			#{qnaid}
			, #{title}
			, #{question}
			, #{cre_id}
			, CURRENT TIMESTAMP
			, 'N'
			, ''
		)
	</insert>
	
	<update id="userMapper.updateQnaInfo" parameterType="java.util.Map">
		update VTQNA
		set
			TITLE =#{title}
			,QUESTION =#{question}
		where QNAID=#{qnaid}
	</update>
	
	<update id="userMapper.deleteQnaInfo" parameterType="java.util.Map">
		update VTQNA 
		set
			DEL_YN ='Y'
		where QNAID=#{qnaid}
	</update>
	
	<select id="userMapper.selectUserDbUseList" parameterType="java.util.Map" resultType="java.util.Map">
		select  VCONNID, VTYPE, VNAME
		from VTCONNECTION a
		where
		<choose>
			<when test="role=='ADMIN'">
				1=1
			</when>
			<when test="role=='MANAGER'">
				a.VCONNID in (select VCONNID from VTDATABASE_MANAGER_ROLE where VIEWID = #{uid})
			</when>
			<when test="role=='USER'">
				a.VCONNID in (select vconnid from VTDATABASE_USER_ROLE where VIEWID = #{uid} )
			</when>
	    	<otherwise>
	      		1!=1
	    	</otherwise>
	  	</choose>
	</select>
	
	<!-- 사용자 조회  -->
	<select id="userMapper.selectSearchUserList" parameterType="map" resultType="map">
		select VIEWID,UID,UNAME
		from VTUSER
		WHERE ACCEPT_YN ='Y'
		and ROLE not in ('ADMIN')
		and UID like '%'||#{searchVal}||'%' 
	</select>
	
	<!-- 쪽지 조회  -->
	<select id="userMapper.selectMessageInfo" parameterType="map" resultType="map">
		select MEMO_TITLE , MEMO_ID, MEMO_CONT, SEND_ID, REG_DT , UPD_DT
		from VTMEMO
		where recv_id = #{uid}
		order by reg_dt desc
	</select>
	
	<!-- sql 정보 보내기  -->
	<insert id="userMapper.insertSendSqlInfo" parameterType="java.util.Map">
		insert  into VTMEMO (
			MEMO_ID
			, SEND_ID
			, RECV_ID
			, MEMO_TITLE
			, MEMO_CONT
			, SEND_DEL_YN
			, RECV_DEL_YN
			, REG_DT
		) 
		values(
			#{memo_id}
			, #{uid}
			, #{recv_id}
			, #{memo_title}
			, #{memo_cont}
			, 'N'
			, 'N'
			, CURRENT TIMESTAMP
		)
	</insert>
	
	<insert id="userMapper.updateMemoViewDate" parameterType="java.util.Map">
		update VTMEMO 
		set 
			UPD_DT = CURRENT TIMESTAMP
		where MEMO_ID = #{memo_id}
	</insert>
	
</mapper>
