<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"></setting>
		<setting name="callSettersOnNulls" value="true"></setting>
		<setting name="jdbcTypeForNull" value="NULL" ></setting>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		<setting name="logPrefix" value="com.varsql_query"></setting>  
	</settings>
	
	<typeAliases>
	  <typeAlias alias="qnaInfo" type="com.varsql.app.user.beans.QnAInfo"/>
	  <typeAlias alias="vtconnectionRVO" type="com.varsql.app.common.beans.VtconnectionRVO"/>
	  <typeAlias alias="vtConnection" type="com.varsql.app.admin.beans.Vtconnection"/>
	  <typeAlias alias="vtconnectionOption" type="com.varsql.app.admin.beans.VtconnectionOption"/>
	  <typeAlias alias="dataCommonVO" type="com.varsql.app.common.beans.DataCommonVO"/>
	  <typeAlias alias="preferencesInfo" type="com.varsql.app.database.beans.PreferencesInfo"/>
	  <typeAlias alias="searchParameter" type="com.vartech.common.app.beans.SearchParameter"/>
	  <typeAlias alias="sqlParamInfo" type="com.varsql.app.database.beans.SqlParamInfo"/>
	  <typeAlias alias="sqlUserHistoryInfo" type="com.varsql.app.database.beans.SqlUserHistoryInfo"/>
	  <typeAlias alias="userForm" type="com.varsql.app.user.beans.UserForm"/>
	  <typeAlias alias="joinForm" type="com.varsql.app.user.beans.JoinForm"/>
	  <typeAlias alias="passwordForm" type="com.varsql.app.user.beans.PasswordForm"/>
	  <typeAlias alias="exceptionLogVO" type="com.varsql.app.common.beans.ExceptionLogVO"/>
	  <typeAlias alias="memoInfo" type="com.varsql.app.user.beans.MemoInfo"/>
	  <typeAlias alias="camelMap" type="com.varsql.app.common.beans.CamelCaseMap"/>
	  <typeAlias alias="dbGroupInfo" type="com.varsql.app.manager.beans.DbGroupInfo"/>
	</typeAliases>
</configuration>