body {
    font-size: 12px;
    background-color: #dfdfdf;
}


/*
* jqgrid css 수정. 
*/
.ui-jqgrid tr.jqgrow td {
	white-space:nowrap;
}

.fill { 
    min-height: 100%;
    height: 100%;
	position: relative;
}

#user-header {
  padding-top:10px;
  position: absolute;
  height: 33px;
  width: 100%;
  background: #7376df;
  color: #fff;
  border-bottom: 2px solid #EBEBEB;
}

.navbar-top-links {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a{
	color: #fff;
}

.navbar-top-links li .dropdown-menu a{
	color: #000;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding-right: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}



#user-page-wrapper {
  position: absolute;
  width: 100%;
  top: 33px;
  bottom: 27px;
  border-color: #35C12E;
}

.user-main-footer{
	border-top:1px solid #bbb;
	bottom:0px;
	position:absolute;
	width:100%;
	height:25px;
}

.user-navbar {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#db-header {
  z-index :10px;
  height: 20px;
  width: 100%;
  background: #dfdfdf;
  border-bottom: 0px solid #fff;
  margin-bottom:1px;
  border-top: 0px solid #BBB;
  border-bottom: 1px solid #BBB;
}

.db-header-menu{
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 2px 0px;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.db-header-menu .divider {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.db-header-menu .header-menu-item-text {
	
}
.db-header-menu .header-menu-item-key {
	float: right;
    margin-left: 20px;
}
#db-page-wrapper {
  position: absolute;
  width: 100%;
  top: 30px;
  border-color: #35C12E;
  background-color: #f0f4f0;
}

.db-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.db-nav>li>a {
  position: relative;
  display: block;
  padding: 2px 15px;
  color: #8c8787;
  font-weight :bold;
  line-height: 16px;
}

.db-navbar {
  position: relative;
  min-height: 17px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#connection_header {
    min-width:1250px;
    width: auto !important;
    width:1250px;
    clear: both;
}
a.configbtn { 
	background-image:url(../img/config.png); 
	display:inline-block;
    height:20px;
    width:20px;
}

a.configbtn:hover { 
	background-image:url(../img/config1.png);
	display:inline-block;;
    height:20px;
    width:20px; 
}

.error{font-size:12px;color:#ff1616}

.clearboth{clear:both}

div.dataTables_filter .floatright {
	float: right;
	font-weight: normal;
}

hr.dotline {
	margin-top: 5px;	
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
    border-top: 0px solid #eee;
}

.replymargin30 {
border-top: 1px solid #DDD;
margin-top: 5px;
padding-left: 50px;
padding-top: 5px;
}

#dataGridAreaWrap {
  background: #fff;
}

.ui-connection-list{
	width:260px;float:left;
}
.ui-connection-list > select{
	color: #151414;
}
.ui-connection-tabs-wrap{
	height:20px;float:left;
}
#data_grid_result_tab_wrap{
	height :25px;
	 border-bottom: 1px solid #c7bdbd;
}

[data-init-msg="Y"] .var-load-frame{
	display:none;
}

[data-init-msg="N"] .var-db-select-text{
	display:none;
}

.alram-count{
    position: absolute;
    top: -6px;
    right: 11px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.sql-result-tab{
  list-style: none;
  padding-left: 10px;
}

.sql-result-tab> li{
	float:left;
	display: block;
    border: 1px solid transparent;
    font-weight: normal;
}

.sql-result-tab>li.on{
	 border-radius: 4px 4px 0 0;
	 border: 1px solid #aaaaaa;
	  border-bottom-width: 0;
    background : #fff
}

.sql-result-tab>li>a {
    position: relative;
    display: block;
    padding: 0px 10px 0px 10px;
    line-height: 22px;
    color: #000;
}


.sql-result-area{
	height:100%;
	display:none;
}
.sql-result-area.on{
	display:block;
}
.connection-ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
}
.connection-ui-tabs .connection-ui-tabs-nav {
	margin: 0;
	padding: .0em .2em 0;
}
.connection-ui-tabs .connection-ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.connection-ui-tabs .connection-ui-tabs-nav .connection-ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-active .connection-ui-tabs-anchor,
.connection-ui-tabs .connection-ui-tabs-nav li.ui-state-disabled .connection-ui-tabs-anchor,
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-loading .connection-ui-tabs-anchor {
	cursor: text;
}
.connection-ui-tabs-collapsible .connection-ui-tabs-nav li.connection-ui-tabs-active .connection-ui-tabs-anchor {
	cursor: pointer;
}
.connection-ui-tabs .connection-ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-tab-item {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	background: #7376df;
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #003eff;
}

.ui-tab-item a{
	color: #ffffff;
}

.ui-tab-item-active {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	background: #fff;
    color: #000;
}
.ui-tab-item-active a{
	color: #000;
}

.ui-paddingl5-r5{
	padding : 0 5px 0 5px;
}

.left-menu-ui-tabs-anchor{
	float: left;
	padding: .0em 1em;
	text-decoration: none;
}
.tbl-valign-top{
	vertical-align: top;
}

.textearea-sql-area {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#resultMsgAreaWrap{
	font-size: 12px;
	overflow-x:hidden;
	overflow-y:auto;
	background: #fff;
	border-top :0px solid #bcbcbd;
	padding : 3px 0px 0px 3px;
}

#recv_autocomplete_area{
	width:253px;
	font-size: 12px;
}

.hide-display{
	display:none;
}

#leftDBList{
	height:118px;
	overflow-y:auto;
	border: 1px solid #f1f1f1;
	font-size :12px;
}
#leftDBList.dropdown-menu {
	padding:0px 0px;
}

#leftDBList>li>a {
    padding: 3px 10px;
    clear: both;
    line-height: 1.42857143;
}

.btn.db-schema-list-btn{
	display:none;
}

.db-list-group{
	padding-left: 0;
	/* margin-bottom: 20px; */
}

.db-list-group-item {
  position: relative;
  display: block;
  padding: 2px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.db-metadata-area{
	padding-left: 0;
	display:none;
	height:100%;
	/* margin-bottom: 20px; */
}

.db-metadata-area.show-display{
	display:block;
}

.db-metadata-area-item {
  position: relative;
  display: block;
  padding: 2px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.db-list-group-item.active{
	color: #333;
	background-color: #f5f5f5;
}

.db-metadata-area-item > a.active{
	color: #333;
	background-color: #7c9fce;
}

.error-log-message{
	font-size:12px;color:#dd4b39
}

.success-log-message{
	font-size:12px;color:#000099
}

.CodeMirror {
  /*
  min-height: 100px;
  height: 100px;
  */
}

.CodeMirror-vscrollbar{
	display:block;
}


#editorAreaTable{
	table-layout:fixed; 
	background-color: #f0f4f0;
	border: 0px solid #ffffff;
}

.input-group-addon-trans {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  border: 0px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  display: table-cell;
}

.varsql-meta-cont-ele{
	height:100%;
	display:none; 
}
.varsql-meta-cont-ele.on{
	display:block; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {  border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {  border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {  border-top-left-radius: 0px; }

.ui-widget-content {
    border: 1px solid #aaaaaa;
    color: #222222;
}

.centerLoading{
	background-color:#aaaaaa;
	opacity:0.3;
	z-index:10;
}

.sql-editor-btn {
	border:1px solid #cfcfcf;
	background-color: #fff;
}

#sqlEditerPreloaderArea{
	display:none; 
}
#sqlEditerPreloaderArea>.preloader-msg{
	font-weight:bold; 
}

.open.dropdown-menu{display:block  !important;}

/* Dropdown Content (Hidden by Default) */
.varsql-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index:100;
    font-size:12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.varsql-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.varsql-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.varsql-dropdown.on .varsql-dropdown-content {
    display: block;
}

.save-sql-list-wrapper{
	height:115px;
	overflow-y:auto;
	overflow-x:hidden;
}
/* sql list area */
.save-sql-list{
	margin:10px 10px 0px 10px;
}

.sql-save-list-layer{
	padding :0px;
	border-radius: 0px;
	margin: 0px 0 0;
}

.ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: -2em;
}

.ui-autocomplete{
	z-index:2000;
}

.memo-recv-id-cont{
	height:125px;
	width: 250px;
	overflow:auto; 
	margin-bottom: 0px;
}

.sql-btn-area .btn-sm,.sql-btn-area .btn-group-sm>.btn {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    line-height: 1.0;
    border-radius: 3px;
   margin-bottom: 2px;
}

#left_service_menu_content{
	height:100%;
}
#metadata_content_area_wrap{
	height:100%;
}

.margin-top5{
	margin-top:5px;
}

.padding0{
	padding:0px;
}

.margin-bottom5{
	margin-bottom:5px;
}

.margin-bottom0{
	margin-bottom:0px;
}
#memo_alert_area{
	color: #000;
}

#memo_alert_area .empty-area{
	text-align: center;
}

.preferences-frame{
	width:100%;height:100%;position:absolute;left:0px;top:0px;right:0px;bottom:0px;border:0px;
}

.header-dropdown-submenu > a:after {
  content: "";
}
.header-dropdown-submenu {
  position: relative;
}
.header-dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  border-top-left-radius: 0;
}
.dropup .header-dropdown-submenu .dropdown-menu,
.navbar-fixed-bottom .header-dropdown-submenu .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -6px;
  border-bottom-left-radius: 0;
}

.header-dropdown-submenu > a:after {
  float: right;
  margin-top: 6px;
  margin-right: -10px;
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}