body {
    font-size: 12px;
}

.margin-top5{
	margin-top:5px;
}

.padding0{
	padding:0px;
}

.margin-bottom5{
	margin-bottom:5px;
}

.margin-bottom0{
	margin-bottom:0px;
}

.display-off{
	display:none;
}
.display-on{
	display:block
}

.text-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: calc(100% - 20px);
  overflow: hidden;
}