@charset "UTF-8";
body {
  font-size: 12px;
  font-family: "낡은고딕", 'malgun gothic', sans-serif !important;
}

a, a:hover, a:active, a:focus {
  color: #000000;
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.wh100-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wh100-relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-wh100 {
  width: 100%;
  height: 100%;
  border: 0px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.margin-top5 {
  margin-top: 5px;
}

.padding0 {
  padding: 0px;
}

.margin-bottom5 {
  margin-bottom: 5px;
}

.margin-bottom0 {
  margin-bottom: 0px;
}

.display-off {
  display: none;
}

.display-on {
  display: block;
}

.position-rel {
  position: relative;
}

.text-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.text-ellipsis.ellipsis10 {
  max-width: calc(100% - 10px);
}

.text-ellipsis.ellipsis5 {
  max-width: calc(100% - 5px);
}

.error {
  color: red;
}

.centerLoading {
  background-color: #dddddd;
  opacity: 0.3;
  z-index: 100;
}

.user-select-on * {
  -webkit-touch-callout: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.clearboth {
  clear: both;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.checkbox-container span {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #dddddd;
}

.checkmark {
  border-radius: 0%;
}

.radiomark {
  border-radius: 50%;
}

.checkbox-container:hover input ~ .checkmark, .checkbox-container:hover input ~ .radiomark {
  background-color: #dddddd;
}

.checkbox-container input:checked ~ .checkmark, .checkbox-container input:checked ~ .radiomark {
  background-color: #f3f3f3;
}

.text-center {
  text-align: center;
}

.input-text, .textarea-text {
  width: 100%;
  height: 25px;
  vertical-align: middle;
  padding: 2px 3px;
  background-image: none;
  border: 1px solid #d5d5d8;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.varsql-theme-dark a, .varsql-theme-dark a:hover, .varsql-theme-dark a:active, .varsql-theme-dark a:focus {
  color: #c5c3c3;
}

.varsql-theme-dark .centerLoading {
  background-color: #000000;
}

.varsql-theme-dark .checkbox-container span {
  background-color: #000000;
}

.varsql-theme-dark .checkbox-container:hover input ~ .checkmark, .varsql-theme-dark .checkbox-container:hover input ~ .radiomark {
  background-color: #000000;
}

.varsql-theme-dark .checkbox-container input:checked ~ .checkmark, .varsql-theme-dark .checkbox-container input:checked ~ .radiomark {
  background-color: #000000;
}

.varsql-theme-dark .input-text, .varsql-theme-dark .textarea-text {
  border: 1px solid #6d6d75;
}
