@charset "UTF-8";

/* glossary start */
#glossaryPluginArea .glossary-search-area-wrapper{
	position: relative;
	height:55px;
	width: 100%;
	padding-left: 3px;
}

#glossaryPluginArea .glossary-search-area{
	padding:2px 0px 1px 0px;
}

#glossaryPluginArea .glossary-result-area{
	position: relative;
	width: 100%;
    height: calc(100% - 55px);
}

#glossaryPluginArea #glossarySearchTxt{
	width: calc(100% - 40px);
}

#glossaryPluginArea #glossaryConvertTxt{
	width: calc(100% - 80px);
}
/* glossary end */

/**/
#historyPluginArea .history-search-area-wrapper{
	position: relative;
	height:30px;
	width: 100%;
}

#historyPluginArea .history-search-area{
	padding: 2px 3px;
}

#historyPluginArea .history-result-area{
	position: relative;
	width: 100%;
    height: calc(100% - 30px);
}

#historyPluginArea #historySearchTxt{
	width: calc(100% - 40px);
}
/**/

/*editor start*/
.varql-sqlfile-tab{
	display:block;
	position: relative;
    height: 20px;
	float:left;
	margin-left: 5px;
	width:calc(100% - 220px);
}

.varsql-sqleditor-area .varsql-file-save-list{
	display:none;
	width:200px;
	position:relative;
	height:100%;
	padding: 5px;
	float:left;
	border-right: 1px solid #cccccc;
}
.varsql-sqleditor-area .varsql-file-save-list ul{
	margin:0px;
	padding:0px;	
}

.varsql-sqleditor-area .varsql-file-save-list .scroll-area{
	height : calc(100% - 40px);	
	overflow-y: auto; 
	overflow-x: hidden; 
}

.varsql-sqleditor-area.sql-flielist-active .varsql-file-save-list{
	display:block;
}

.varsql-sqleditor-area.sql-flielist-active #sql_editor_area{
	margin-left:200px;
	overflow:hidden;
}

.varsql-sqleditor-area .sql-editor-text{
	display:none;
}

.varsql-sqleditor-area .sql-editor-item, .varsql-sqleditor-area .sql-editor-item[data-editor-id="empty"]{
	z-index:0;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.varsql-sqleditor-area .sql-parameter-item{
	display:none;
}
.varsql-sqleditor-area .sql-parameter-item .key, .varsql-sqleditor-area .sql-param-header .key{
	width:85px;
	display: inline-block;
    padding-right: 5px;
    padding-top: 2px;
}

.varsql-sqleditor-area .sql-parameter-item .val, .varsql-sqleditor-area .sql-param-header .val{
	width:140px;
	display: inline-block;
    padding-right: 5px;
}

.varsql-sqleditor-area .sql-parameter-item .remove{
	display: inline-block;
}


.varsql-sqleditor-area .sql-parameter-item.active{
	display:block;
}

.varsql-sqleditor-area .sql-editor-item[data-editor-id="empty"] > p{
	text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	
}

.varsql-sqleditor-area .sql-editor-item.active{
	z-index:1;
}

.varsql-toolbar-area .pubTab-wrapper {
	background: inherit;
}

.varsql-toolbar-area .pubTab .pubTab-icon-area .pubTab-icon:hover{
	color:#f31111;
}

.varsql-toolbar-area .pubTab {
	border-bottom: 0px solid #bfb8b8
}
    
.varsql-toolbar-area .pubTab-item.active .pubTab-item-cont{
	background:#ffffff;
}
.varsql-toolbar-area .pubTab-item .pubTab-item-title{
	padding-top:2px;
}

.varsql-toolbar-area .pubTab-item .pubTab-icon-area{
	margin-top:2px;
}

.text-ellipsis.sql-flielist-item{
	max-width: calc(100% - 35px);
}

.varsql-toolbar-area .sql-filelist-view-btn.active{
	color: #fff;
    background-color: #6bb2ef;
    border-color: #c6d7e6;
}

/*editor end*/


/* sql data grid area start*/
.sql-result-area .sql-data-grid-item{
	position: absolute;
	z-index:0;
	width: 100%;
	height:100%;
	background: #f0f4f0;
}

.sql-result-area .sql-data-grid-item.active{
	z-index:1;
}

.sql-result-area .sql-data-grid-column-item{
	position: absolute;
	z-index:0;
	width: 100%;
	height:100%;
	background: #f0f4f0;
}

.sql-result-area .sql-data-grid-column-item.active{
	z-index:1;
}

/* sql data grid area end*/
