@charset "UTF-8";

body {
	font-size: 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
	overflow:hidden; 
	min-width:1024px;
	margin:0px;
	padding:0px;
	background-color: #dfdfdf;
}

body div{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.user-select-on  *{
-webkit-touch-callout: text !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
     -khtml-user-select: text !important; /* Konqueror HTML */
       -moz-user-select: text !important; /* Firefox */
        -ms-user-select: text !important; /* Internet Explorer/Edge */
            user-select: text !important; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.database-main{
	min-width: 900px;
}
.fill { 
    min-height: 100%;
    height: 100%;
	position: relative;
}
.copy-right{
	text-align:center;
}

#user-header {
  padding-top:10px;
  position: absolute;
  height: 33px;
  width: 100%;
  background: #7376df;
  color: #fff;
  border-bottom: 2px solid #EBEBEB;
}

.width-height100{
	width:100%;height:100%;
}

.navbar-top-links {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a{
	color: #fff;
}

.navbar-top-links li .dropdown-menu a{
	color: #000;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding-right: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}



#user-page-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 33px;
  bottom: 27px;
  border-color: #35C12E;
}

.user-main-footer{
	border-top:1px solid #bbb;
	bottom:0px;
	position:absolute;
	text-align:center;
	width:100%;
	height:25px;
}

.user-navbar {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.db-header-menu-area {
  z-index :10px;
  height: 20px;
  width: 100%;
  background: #dfdfdf;
  margin-bottom:1px;
  border-bottom: 1px solid #BBB;
}

.db-header-menu{
  position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0px 0px;
    margin: 0px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.db-header-menu .divider {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.db-header-menu .header-menu-item-text {
	
}
.db-header-menu .header-menu-item-key {
	float: right;
    margin-left: 20px;
}
#db-page-wrapper {
  position: absolute;
  width: 100%;
  top: 30px;
  border-color: #35C12E;
  background-color: #f0f4f0;
}

.db-header-menu-wrapper {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.db-header-menu-wrapper>li{
	float:left;
	margin-right: 3px;
}
.db-header-menu-wrapper>li>a {
  position: relative;
  display: block;
  padding: 2px 15px;
  color: #8c8787;
  font-weight :bold;
  line-height: 1.2;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border:1px solid rgba(255, 255, 255, 0);;
}

.db-header-menu-wrapper>li.open >a,.db-header-menu-wrapper>li>a:hover , .db-header-menu-wrapper>li>a:active {
	background-color: #f3f3f3;
	border:1px solid #d1d1d1;
	border-radius: 3px;
}

.db-navbar {
  position: relative;
  min-height: 17px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

#connection_header {
    min-width:1250px;
    width: auto !important;
    width:1250px;
    clear: both;
}
a.configbtn { 
	background-image:url(../img/config.png); 
	display:inline-block;
    height:20px;
    width:20px;
}

a.configbtn:hover { 
	background-image:url(../img/config1.png);
	display:inline-block;;
    height:20px;
    width:20px; 
}

.error{font-size:12px;color:#ff1616}

.clearboth{clear:both}

div.dataTables_filter .floatright {
	float: right;
	font-weight: normal;
}

hr.dotline {
	margin-top: 5px;	
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
    border-top: 0px solid #eee;
}

.replymargin30 {
	border-top: 1px solid #DDD;
	margin-top: 5px;
	padding-left: 50px;
	padding-top: 5px;
}

.ui-connection-list{
	width:260px;float:left;
}
.ui-connection-list > select{
	color: #151414;
}
.ui-connection-tabs-wrap{
	height:20px;float:left;
}
#data_grid_result_tab_wrap{
	border-bottom: 1px solid #c7bdbd;
}

[data-init-msg="Y"] .var-load-frame{
	display:none;
}

[data-init-msg="N"] .var-db-select-text{
	display:none;
}

.alram-count{
    position: absolute;
    top: -6px;
    right: 11px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.sql-result-tab{
	list-style: none;
    padding: 0px;
    margin: 0px;
	padding-left: 10px;
}

.sql-result-tab> li{
	float:left;
	display: block;
    border: 1px solid transparent;
    font-weight: normal;
}

.sql-result-tab>li.on{
	border-radius: 4px 4px 0 0;
	border: 1px solid #aaaaaa;
	border-bottom-width: 0;
    background : #fff
}

.sql-result-tab>li>a {
    position: relative;
    display: block;
    padding: 0px 10px 0px 10px;
    line-height: 22px;
    color: #000;
}


.sql-result-area{
	height:100%;
	display:none;
}
.sql-result-area.on{
	display:block;
}
.connection-ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
}
.connection-ui-tabs .connection-ui-tabs-nav {
	margin: 0;
	padding: .0em .2em 0;
}
.connection-ui-tabs .connection-ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.connection-ui-tabs .connection-ui-tabs-nav .connection-ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-active .connection-ui-tabs-anchor,
.connection-ui-tabs .connection-ui-tabs-nav li.ui-state-disabled .connection-ui-tabs-anchor,
.connection-ui-tabs .connection-ui-tabs-nav li.connection-ui-tabs-loading .connection-ui-tabs-anchor {
	cursor: text;
}
.connection-ui-tabs-collapsible .connection-ui-tabs-nav li.connection-ui-tabs-active .connection-ui-tabs-anchor {
	cursor: pointer;
}
.connection-ui-tabs .connection-ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-tab-item {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	background: #7376df;
    font-weight: normal;
    color: #ffffff;
    border: 1px solid #003eff;
}

.ui-tab-item a{
	color: #ffffff;
}

.ui-tab-item-active {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	background: #fff;
    color: #000;
}
.ui-tab-item-active a{
	color: #000;
}

.ui-paddingl5-r5{
	padding : 0 5px 0 5px;
}

.left-menu-ui-tabs-anchor{
	float: left;
	padding: .0em 1em;
	text-decoration: none;
}
.tbl-valign-top{
	vertical-align: top;
}

.textearea-sql-area {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#resultMsgAreaWrap{
	font-size: 12px;
	overflow-x:hidden;
	overflow-y:auto;
	background: #fff;
	border-top :0px solid #bcbcbd;
	padding : 3px 0px 0px 3px;
}

#recv_autocomplete_area{
	width:253px;
	font-size: 12px;
}

.hide-display{
	display:none;
}

#dbSchemaList{
	height:118px;
	overflow-y:auto;
	border: 1px solid #f1f1f1;
	font-size :12px;
}
#dbSchemaList.dropdown-menu {
	padding:0px 0px;
}

#dbSchemaList>li>a {
    padding: 3px 10px;
    clear: both;
    line-height: 1.42857143;
}

.btn.db-schema-list-btn{
	display:none;
}

.db-list-group{
	padding-left: 0;
	/* margin-bottom: 20px; */
}

.db-list-group-item {
  position: relative;
  display: block;
  padding: 2px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.db-metadata-area{
	padding-left: 0;
	z-index : 1;
	height:100%;
	width:100%;
	position: absolute;
	background: #fff;
	/* margin-bottom: 20px; */
}

.db-metadata-area.show-display{
	z-index : 10;
}

.db-metadata-area-item {
  position: relative;
  display: block;
  padding: 2px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.db-list-group-item.active{
	color: #333;
	background-color: #f5f5f5;
}

.db-metadata-area-item > a.active{
	color: #333;
	background-color: #7c9fce;
}

.error-log-message{
	font-size:12px;color:#dd4b39
}

.success-log-message{
	font-size:12px;color:#000099
}

#editorAreaTable{
	table-layout:fixed; 
	background-color: #f0f4f0;
	border: 0px solid #ffffff;
}

.input-group-addon-trans {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  border: 0px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  display: table-cell;
}


.varsql-meta-cont-ele, .varsql-meta-tab-ele{
	height:100%;
	display:none; 
}
.varsql-meta-cont-ele.on, .varsql-meta-tab-ele.on{
	display:block; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {  border-bottom-left-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {  border-top-right-radius: 0px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {  border-top-left-radius: 0px; }

.ui-widget-content {
    border: 1px solid #aaaaaa;
    color: #222222;
}

.centerLoading{
	background-color:#aaaaaa;
	opacity:0.3;
	z-index:10;
}

.sql-editor-btn {
	border:1px solid #cfcfcf;
	background-color: #fff;
}

#sqlEditerPreloaderArea{
	display:none; 
}
#sqlEditerPreloaderArea>.preloader-msg{
	font-weight:bold; 
}

.open.dropdown-menu{display:block  !important;}

/* Dropdown Content (Hidden by Default) */
.varsql-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index:100;
    font-size:12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.varsql-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.varsql-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.varsql-dropdown.on .varsql-dropdown-content {
    display: block;
}

.save-sql-list-wrapper{
	height:115px;
	overflow-y:auto;
	overflow-x:hidden;
}
/* sql list area */
.save-sql-list{
	margin:10px 10px 0px 10px;
}

.sql-save-list-layer{
	padding :0px;
	border-radius: 0px;
	margin: 0px 0 0;
}

.ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: -2em;
}

.ui-autocomplete{
	z-index:2000;
}

.memo-recv-id-cont{
	height:125px;
	width: 250px;
	overflow:auto; 
	margin-bottom: 0px;
}

#memo_alert_area>li .memo-item{
	height:25px;
}

#memo_alert_area>li .memo-item .memo-text{
	display:block;
	float:left;
	max-width : calc(100% - 115px);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
}
#memo_alert_area>li .memo-item  .memo-text>span{
	padding-left:10px; 
}
#memo_alert_area>li .memo-item .memo-date{
	font-size: 89%;
	margin-top: 0px;
    margin-right: -10px;
}

.sql-btn-area .btn-sm,.sql-btn-area .btn-group-sm>.btn {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    line-height: 1.0;
    border-radius: 3px;
   margin-bottom: 2px;
}

.margin-top5{
	margin-top:5px;
}

.padding0{
	padding:0px;
}

.margin-bottom5{
	margin-bottom:5px;
}

.margin-bottom0{
	margin-bottom:0px;
}
#memo_alert_area{
	color: #000;
}

#memo_alert_area .empty-area{
	text-align: center;
}

.preferences-frame{
	width:100%;height:100%;position:absolute;left:0px;top:0px;right:0px;bottom:0px;border:0px;
}

.header-dropdown-submenu > a:after {
  content: "";
}
.header-dropdown-submenu {
  position: relative;
}
.header-dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  border-top-left-radius: 0;
}
.dropup .header-dropdown-submenu .dropdown-menu,
.navbar-fixed-bottom .header-dropdown-submenu .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: -6px;
  border-bottom-left-radius: 0;
}

.header-dropdown-submenu > a:after {
  float: right;
  margin-top: 6px;
  margin-right: -10px;
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=.3);
}
.ui-widget-overlay {
    position: none;
}

.sql-btn-area{
	height:32px;
	padding-top:2px;
	display: table-row;
}
.sql-btn-area>ul{
    padding: 0px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}
.sql-btn-area>ul>li {
	float:left; 
	list-style: none;
	padding : 0px 3px 0px 3px; 
}

.sql-edit-btn{
    padding: 4px 5px 4px 5px;
    font-size: 14px;
    border:1px solid transparent;
    border-radius: 2px;
	color: inherit;
	text-decoration: none;
}
.sql-edit-btn:hover{
	background-color: #dfdfdf;  
	background: #dfdfdf;
	color: #000000;
	cursor: pointer;
	text-decoration: none; 
}

.sql-btn-info {
    color: #000;
    background-color: #a8e0f1;
    border-color: #a8e0f1;
}

.sql-btn-info:hover{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.sql-btn-success {
    color: #333;
    background-color: #afb8ef;
    border-color: #afb8ef;
    border:1px solid #b59d9d;
}
 
.sql-btn-area li.sql-btn-divider{
   height: 21px;
   width: 1px;
   overflow: hidden;
   padding:0px;
   border-right: 1px solid #8c7e7e;
}

/*  sql parameter area start */
.sql-parameter-area{
	display:none;
	width:250px;
	padding: 5px;
	z-index:10;
	height:100%;
	position:absolute;
	right:0px;
	background:#e8f7e8;
	overflow:auto;
	top: 0px;
	border: 1px solid #ddd;
}

.sql-parameter-area table th{
	text-align:center;
}
.on.sql-parameter-area{
	display:block;
}

.sql-parameter-area td{
	padding-top:5px;
}
.sql-parameter-area td >div{
	margin-right:5px;
}

.sql-parameter-area input{
	width:100%;
}	
/*  sql parameter area end */

/* varsql main layout start */
.main-top-menu-wrapper{
	z-index:10;
	width:100%;
	height:20px;
	position:absolute;
	height: 20px;
	margin-bottom: 1px;
	border-bottom: 1px solid #BBB;
	background-image: -webkit-linear-gradient(#fffcfc,#dcdcdc);
    background-image: -moz-linear-gradient(#fffcfc,#dcdcdc);
    background-image: -ms-linear-gradient(#fffcfc,#dcdcdc);
    background-image: -o-linear-gradient(#fffcfc,#dcdcdc);
    background-image: linear-gradient(#fffcfc,#dcdcdc);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffcfc', endColorstr='#dcdcdc', GradientType=0);
}
.main-body-wrapper{
	height: calc(100% - 20px);
	width:100%;
	margin-top:20px;
	z-index:9;
}

.varsql-dbodbject-schema-area{
	position:relative;
	height:40px;
	width:100%;
	min-width:230px;
}

.varsql-dbodbject-tab-area{
	position:relative;
	height:20px;
	width:100%;
	z-index:1;
}

.varsql-dbodbject-cont-area{
	width:100%;
	height: calc(100% - 60px);
	position:relative;
	z-index: 0;
}

.varsql-pubtab-area{
	position:relative;
	width:100%;
	height: 20px;
	z-index:1;
}

.varsql-pubtab-cont-area{
	width:100%;
	height: calc(100% - 20px);
	position:relative;
	z-index: 0;
}

.varsql-tab-area{
	position:relative;
	height:26px;
	width:100%;
	padding: 3px 0px 0px 3px;
}

.varsql-tab-cont-area{
	width:100%;
	height: calc(100% - 26px);
	position:relative;
}

.varsql-toolbar-area{
	position:relative;
	width:100%;
	height:62px;
	min-width: 520px;
	overflow:hidden;
}

.varsql-sqleditor-area{
	position:relative;
	width:100%;
	height: calc(100% - 65px);
}

.lm_content{
	background: #f0f4f0;
}

.lm_tab:hover, .lm_tab.lm_active {
    background: ;
    color: #777777;
    
    background-image: -webkit-linear-gradient(#ffffff,#f3f3f3);
    background-image: -moz-linear-gradient(#ffffff,#f3f3f3);
    background-image: -ms-linear-gradient(#ffffff,#f3f3f3);
    background-image: -o-linear-gradient(#ffffff,#f3f3f3);
    background-image: linear-gradient(#ffffff,#f3f3f3);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3', GradientType=0);
}

.pos-relative-w-h100{
	width:100%;
	height:100%;
	position:relative;
	-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.CodeMirror {font-size:13px; width:100%; height:100%;
-webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
} 
.CodeMirror-scroll {height: 100%;}

.pubGrid{
	border-left: 0px solid #fff !important;
    border-right: 0px solid #fff !important;
}
/* varsql main layout end */


/* sql result btn start */
.log_clear_btn{
	display:none;
}

.sql-result-tab .on .log_clear_btn{
	display:inline-block;
}
/* sql result btn end */