body {
    font-size: 12px;
}

.margin-top5{
	margin-top:5px;
}

.padding0{
	padding:0px;
}

.margin-bottom5{
	margin-bottom:5px;
}

.margin-bottom0{
	margin-bottom:0px;
}

.display-off{
	display:none;
}
.display-on{
	display:block;
}

.position-rel{
	position:relative
}

.text-ellipsis {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: calc(100% - 20px);
  overflow: hidden;
}

.text-ellipsis.ellipsis10 {
  max-width: calc(100% - 10px);
}

.text-ellipsis.ellipsis5 {
  max-width: calc(100% - 5px);
}

.error{
	color: red;
	font-weight: bold;
}

table>tbody>tr.error-row>td, table>tbody>tr.error-row>th {
    background: #f7d5d5 !important;
}

.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=.3);
}
.ui-widget-overlay {
    position: none;
}
/*
.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: opx;
    outline: 0;
}

.ui-widget.ui-widget-content {
  	border: 0px solid #c5c5c5;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px;
    font-size: 11pt;
    position: relative;
    background: #c2dffc;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    width: 29px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 40px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background: transparent;
    font-weight: normal;
    color: #454545;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 0px solid #181919;
	background: #90d5fd;
	font-weight: normal;
	color: #2b2b2b;
}
*/