/*
* Customize borders and shading to suit this nested layout
*/
.ui-layout-container div{
	-webkit-box-sizing:  border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.ui-layout-header-area{
	z-index:100 !important;
}
.ui-layout-pane { /* all 'panes' */
	padding: 0px;
	background: #FFF;
	border-top: 0px solid #BBB;
	border-bottom: 0px solid #BBB;
}

.ui-layout-pane-west {
	border-left: 1px solid #BBB;
}

.ui-layout-footer-area{
	border-top: 1px solid #BBB;
}

.inner-layout-toolbar-area{
	background: #f0f4f0;
	border-left: 0px solid #BBB;
	border-right: 0px solid #BBB;
	border-bottom: 1px solid #e0dddd;
	padding-left:3px;
}

.inner-layout-toolbar-area{
	z-index:50 !important;
	height : 65px !important;
}

.ui-layout-pane-east {
	border-right: 1px solid #BBB;
}

.ui-layout-pane-center {
	border-left: 0;
	border-right: 0;
}

.inner-layout-result-area {
	border: 1px solid #BBB;
}

.ui-layout-left-area{
	background-color: #EEE;
}

.middle-west, .middle-east {
	background-color: #F8F8F8;
}

.ui-layout-resizer { /* all 'resizer-bars' */
	background:#edf5f4;
}

.ui-layout-resizer:hover { /* all 'resizer-bars' */
	background: #FED;
}

.ui-layout-resizer-west {
	border-left: 1px solid #BBB;
}

.ui-layout-resizer-east {
	border-right: 1px solid #BBB;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
	background: #AAA;
}

.ui-layout-toggler:hover { /* all 'toggler-buttons' */
	background: #FC3;
}

.outer-center, .middle-center {
	/* center pane that are 'containers' for a nested layout */
	padding: 0;
	border: 0;
}

.ui-layout-left-top-area{
	z-index:30 !important;
	background-color: #dff0d8;
}


.ui-layout-left-middle-area{
	/*z-index:29 !important;*/
}

.ui-layout-left-bottom-area {
	/*z-index:28 !important;*/
}

.sql-parameter-area{
	display:none;
	width:250px;
	padding: 5px;
	z-index:10;
	height:100%;
	position:absolute;
	right:0px;
	background:#e8f7e8;
	overflow:auto;
	border: 1px solid #ddd;
}

.sql-parameter-area table th{
	text-align:center;
}
.on.sql-parameter-area{
	display:block;
}

.sql-parameter-area td{
	padding-top:5px;
}
.sql-parameter-area td >div{
	margin-right:5px;
}

.sql-parameter-area input{
	width:100%;
}	


