@charset "UTF-8";

/* glossary start */
#glossaryPluginArea .glossary-search-area-wrapper{
	position: relative;
	height:55px;
	width: 100%;
}

#glossaryPluginArea .glossary-search-area{
	padding:2px 0px 1px 0px;
}

#glossaryPluginArea .glossary-result-area{
	position: relative;
	width: 100%;
    height: calc(100% - 55px);
}

#glossaryPluginArea #glossarySearchTxt{
	width: calc(100% - 70px);
}

#glossaryPluginArea #glossaryConvertTxt{
	width: calc(100% - 80px);
}
/* glossary end */

/**/
#historyPluginArea .history-search-area-wrapper{
	position: relative;
	height:30px;
	width: 100%;
}

#historyPluginArea .history-search-area{
	padding:2px 0px 1px 0px;
}

#historyPluginArea .history-result-area{
	position: relative;
	width: 100%;
    height: calc(100% - 30px);
    overflow:auto;
}

#historyPluginArea #historySearchTxt{
	width: calc(100% - 70px);
}
/**/