@charset "UTF-8";

#glossaryComponentArea .glossary-search-area{
	position: relative;
	height:50px;
	width: 100%;
}

#glossaryComponentArea .glossary-result-area{
	position: relative;
	width: 100%;
    height: calc(100% - 50px);
}

#glossaryComponentArea #glossarySearchTxt{
	width: calc(100% - 70px);
}

#glossaryComponentArea #glossaryConvertTxt{
	width: calc(100% - 80px);
}